[2015-11-18 09:12] Kureev opened #5 "Architecture proposal"
This is an architecture proposal to clarify the structure of upcoming files.

## Binary
Runnable files should be located under the `bin` folder

## Source
Program sources should be located under the `src` folder

## Actions
All CLI actions should be stored in `src/actions` folder, each file represents one action

## Android / iOS
Android and iOS related files should be putted under `src/android` &

[2015-11-18 10:16] Kureev opened #6 ".rnpmrc proposal"
I think we need to support some custom actions in our prototype.

##### Example `.rnpmrc` config file for `react-native-vector-icons`:
[code]

[2015-11-18 15:00] grabbou opened #9 "Future interface for our actions"
I think that we should consider implementing https://github.com/SBoudrias/Inquirer.js so we can provide more than just simple one-off actions and support more advanced commands where user action is needed (to e.g. solve an issue or just ask for further details).

[2015-11-18 15:01] grabbou opened #10 "react-native init"
It'd be really cool to provide `npm init` like command, that when called `rnpm init`, just uses `react-native init` to scaffold a new project for user. Simple & easy.

[2015-11-26 01:00] mkonicek commented on #10
Possibly related to `react-native new-library`?

[2015-11-26 01:03] mkonicek commented on #6
Side note: You could make this "convention-over-configuration" as much as possible. For example, we can ask module authors to always follow exactly the same folder structure (and even naming when appropriate) to keep thing very simple: https://github.com/garysye/react-native-android-geolocation

[2015-11-26 02:07] ptmt commented on #5
*Tests* section in proposal is missing, I'm happy to send pull request with a few tests. Also, what's your opinion about Flow?

[2015-11-26 03:35] sospartan opened #16 "How about make shipping to appstore/apphub/hockey/googleplay as plugins"
Core `rnpm` should not integrate some many stuff .
Better structure  a plugin system to achieve this .

[2015-11-26 05:49] grabbou commented on #16
Good point! As you see from the source we already have a proof of concept plugin folder that is not user and was planned to be released independently once we are done with stuff.

If there's anyone that can share / suggest good structure to achieve that - I am interested in more.

[2015-11-26 07:01] Kureev commented on #5
I'm fine with flow, but I want to keep it without preprocessors

[2015-11-26 07:04] Kureev commented on #6
I like this idea. If @grabbou will agree to remove detection part, I'll make it

[2015-11-26 07:07] grabbou commented on #5
Yep, we wanted to avoid pre processors given the fact Node support for ES6 is quite good.

[2015-11-26 07:08] grabbou commented on #6
Good idea but for now let's keep the detection since we cannot force all package developers to adjust to that. Maybe at some point it's going to be a good move, but since detection works quite well and it's few lines I'm fine with having it.

[2015-11-26 07:10] grabbou commented on #6
On a side note I need to send a PR to config so it detects android also when there's no android folder present (like in above example).

[2015-11-26 07:50] Kureev commented on #6
Well, for that purposes we can have a config. All Android files my be stored in a slightly different folders, I don't want to have 3+ file detections (and that's besides the fact we have 2 x `builde.gradle` files). My opinion on this is that developers should either adjust their folder structure to suggested by react native team, or just add a config.

[2015-11-26 08:07] ptmt commented on #5
I see, I mean Flow comments syntax:

[code]
 But sure, there is always tradeoff with readability.

[2015-11-26 08:20] grabbou commented on #6
As I said - I want this tool to work with the maximum number of packages possible without any extra action by package authors. The detection has only 3 super trivial methods and so far does the job pretty well. I am not going to delete that mechanism just for the sake of promoting standards, because then it's gonna take ages for the ecosystem to catch up. And from the iOS perspective that is only

[2015-11-26 08:23] grabbou commented on #6
We can of course automatically detect packages that do not follow standard and need to be analysed in the future. Then, we could automatically make an issue in their repo asking to adjust to the overall convention.

[2015-11-26 08:24] Kureev commented on #6
@grabbou I like this approach ^

[2015-11-26 08:27] Kureev commented on #5
Well, for now I'd prefer readability. Maybe it's "nice to have", but I would definitely postpone it until some urgent stuff will be done

[2015-11-26 08:37] Kureev commented on #16
I think the idea behind this proposal is not to overload `rnpm` with some very specific commands. I'm also up for it. We can consider custom installable commands. What do you think, @grabbou?

[2015-11-26 08:58] grabbou commented on #16
As I said - once we have plug-in system and core is able to detect installed plugins and attach them to `cli` (so you still use `rnpm --help`), I'm fine with that. It's probably a good approach given the fact these commands are highly custom. So the `ship` one is probably going to live in one repo.

Is that the idea you had @Kureev ?

[2015-11-26 08:59] grabbou commented on #5
I never been a huge advocate of type checking in Javascript, nice hints, but I'd rather see them in `jsdoc` above the method definition for now :dancer:

[2015-11-26 09:21] #9 closed

[2015-11-26 09:22] grabbou commented on #10
Is there such command already @mkonicek ? If not, I'd like to incorporate as much of local-cli as possible, esp. given the fact that we are bringing plugins system and this will be trivial to write/wrap.

[2015-11-26 09:22] grabbou commented on #6
This will be postLink hook.

[2015-11-26 11:29] grabbou opened #17 "Plugin system"
After discussing plugin approaches with @Kureev, here's what we have came up with so far:

Currently CLI requires an array of objects (actions) from `src/actions/index.js`. We are going to make that array defined during the runtime so it's super easy to define your own plugins & completely rely on `package.json` for that. The takeaway from that paragraph is that whenever you require that file, you

[2015-11-26 11:32] grabbou commented on #17
CC: @Kureev I am not sure if we need to look for `globally defined plugins` at all. We should be just fine with keeping them on per-project basis in `devDependencies` and if it's a pain - adding a `preset` option, just like @sebmck did with Babel.

[2015-11-26 11:35] grabbou commented on #16
Agreed, See #17

[2015-11-26 11:35] #16 closed

[2015-11-26 18:45] grabbou opened #18 "Rename `assets` to `fonts`"
This is somehow because I've misunderstood the use-case of that when we were discussing it @Kureev. With the new static system, the only real use-case is to copy fonts (which is valid because they cannot be referenced as images using file system paths):

In the current `copyAssets` action:

iOS:
1. Create group in XCode project called `Fonts` if it's not yet there (name can be changed with custom

[2015-11-26 18:48] grabbou commented on #18
And obviously rename copyAssets to copyFonts.

[2015-11-26 18:50] Kureev commented on #18
I think we can be a bit more flexible about it: I propose to replace `assets` by custom copy script. It'll looks like this:
[code]

[2015-11-26 18:51] grabbou commented on #18
But for the iOS, it's not really a copy. And you handle fonts differently than `ogg`. For iOS fonts to work, you just have to create a group folder that references node_modules/project/fonts location and attach these fonts to Info.plist. That's all.

So since these actions will be highly type specific, I'd say let's leave the `assets` thing, but once we get an array of all files, just group them b

[2015-11-26 18:52] Kureev commented on #18
Agree :+1:

[2015-11-26 18:53] grabbou commented on #18
Cool, I'll send over PR later today :)

[2015-11-26 18:54] Kureev commented on #18
Sounds like an interesting task btw. Looking forward to see your PR

[2015-11-26 18:55] grabbou commented on #18
I am just not sure about that one

This is highly error - prone to detect all extensions... I'd better change the config of rnpm from assets to either
[code]
or
[code]

[2015-11-26 20:17] cbrevik commented on #18
I am wondering if I misunderstood the the assets folder linking at first (as per our discussion in at reactiflux).

Please correct me if I'm wrong; but the use case you guys are trying to solve here is if for example Kureev wanted to add custom fonts to his react-native-side-menu project, then he would add the following to the package.json in that project: ```"rnpm": {
    "assets": ["fonts"]
  }`

[2015-11-26 20:19] Kureev commented on #18
I'm currently developing plugin system for that. You'll be able to create a plugin for `rnpm` which will solve your issue :wink:

[2015-11-26 20:34] grabbou commented on #18
That's very interesting idea that can be probably incorporated into post link hook once it's done. Would you mind opening separate issue for that so we keep track of it? It's actually super simple to do and will be made up from 3 or 4 lines, so we might add it to link command anyway as it's going to end up in a separate package anyway.

[2015-11-26 20:50] cbrevik opened #19 "Ability to configure copying of fonts in app projects"
Ref discussion at #18.

What I would like to see is the ability to configure assets for my own app, (i.e. not third-party packages), and have that added to the iOS/Android-projects of my app with ```rnpm link``. Or through some other mechanism in that chain.

One paint point this would solve is when you use ```react-native upgrade``` it removes the custom fonts from your app iOS/Android projects (

[2015-11-26 22:57] grabbou commented on #17
Done. Docs will land tomorrow.

[2015-11-26 22:57] #17 closed

[2015-11-27 08:36] grabbou commented on #18
This is now being implemented in https://github.com/rnpm/rnpm-plugin-link/pull/1

[2015-11-27 22:16] grabbou commented on #18
Implemented in 1.1.0.

[2015-11-27 22:16] #18 closed

[2015-11-29 22:35] Kureev commented on #5
I'm going to close it due to big difference with a plugins architecture we have now. Seems like it doesn't make that much sense.

[2015-11-29 22:35] #5 closed

[2015-11-30 00:23] grabbou commented on #5
Yeah, changed for better :)

[2015-12-01 23:33] tonyxiao opened #25 "Explain difference with `rem`"
There's another effort here https://github.com/exponentjs/rem

Could you explain your thinking behind `rnpm` and how it's different from `rem`?

[2015-12-02 00:04] grabbou commented on #25
Hey! Sure ;)

In my opinion rem is more similar to `rnpm-plugin-link` than to `rnpm` itself.

According to their documentation, it operates on top of `Cocoapods` - that is, when you add it to your project, it sets up Cocoapods project for iOS behind the scenes (that means you have `xcworkspace` created). Then, it uses local pod specs from 3rd party modules to link them automatically to your projec

[2015-12-02 00:07] grabbou commented on #25
PS. Thanks to the plugin system, one can create `rnpm-plugin-link-buck` that will work in the same manner but use `buck` internally.

[2015-12-02 07:33] tonyxiao commented on #25
Hey @grabbou thanks so much for the clarification. What if the native modules themselves have other native dependencies? One of the things cocoapods does is resolving duplicate dependencies and make sure they are only linked into the project once. (and compatible versions are used).

[2015-12-02 07:38] grabbou commented on #25
Yes, that's the feature I like in Cocoa. We might use it at some point to handle non npm modules and native frameworks npm modules depend on.

For now, I think it has to be done manually (eg copy paste or add system frameworks). Ideas are welcome!

For system frameworks - I think simple array of their names would be efficient since there's no download required.

[2015-12-02 08:06] tonyxiao commented on #25
Got it. Have you considered using Carthage instead? it takes care of dependency resolution but is unopinionated about exactly how those dependencies get integrated into the xcodeproj, seems to be a nice complement to the way rnpm works (and does not require any extra effort on module author's part).

[2015-12-02 08:36] Kureev commented on #25
I'd like to have a @grabbou opinion on it, but I'd say it should be a second-wave improvement

[2015-12-02 09:17] grabbou commented on #25
Yes, I've been using it internally and so far it's been working quite well. We might use it at some point programatically but it's more like an idea for a plugin that could outperform our standard `rnpm-plugin-link` at some point.

For now, we wanted to get aligned with the standard process, but I agree that this kind of stuff will have to be addressed at some point soon before we move on.

[2015-12-02 09:19] Kureev commented on #25
Can you move this proposal to the separated issue? In this case we would be able to close this one and mark yours as a "potential feature"?

[2015-12-02 09:41] grabbou commented on #25
I'd move that to `rnpm-plugin-link` since it's more like an improvement for link itself.

[2015-12-02 20:46] grabbou commented on #19
If that's only the case of `rn upgrade` we might handle that in our `rnpm-plugin-react-cli` that will provide a bridge to these methods so you don't have to use two clis. I am going to publish that plugin by the end of the week.

CC: @brentvatne @mkonicek

[2015-12-03 17:08] grabbou opened #28 "Start squashing commits at some point"
I am feeling quite confused with my commits :8ball:

[2015-12-03 17:09] grabbou commented on #28
(BTW, the label `potential feature` is quite funny in that case haha)

[2015-12-03 18:06] tonyxiao opened #29 "Use Carthage for dependency management on iOS"
Originally mentioned in https://github.com/rnpm/rnpm/issues/25

Relevant comments:
@tonyxiao
Got it. Have you considered using Carthage instead? it takes care of dependency resolution but is unopinionated about exactly how those dependencies get integrated into the xcodeproj, seems to be a nice complement to the way rnpm works (and does not require any extra effort on module author's part).
@Kuree

[2015-12-03 18:06] Kureev commented on #28
Related to making a Code of Conduct

[2015-12-03 18:06] tonyxiao commented on #25
Done, feel free to close this.

[2015-12-03 18:07] #25 closed

[2015-12-03 19:00] grabbou commented on #29
Awesome, thanks! Let's revisit that after we get tests done for both plugins. I am definitely up to considering any solution that will improve general way of handling native stuff. For now, there's no way to handle truly native binaries and frameworks w/o cocoapods/carthage (otherwise, you have to keep them bundled which is a no-go)

[2015-12-03 20:10] grabbou commented on #29
Just to add in few more things here - that stuff will be released as a separate plugin meaning people interested in supporting/using other systems, like Cocoapods, Buck, whatever we discard can implement it in a pretty straight forward way.

[2015-12-07 21:30] #19 closed

[2015-12-09 13:55] alfonsodev opened #46 "react native 0.16.0 different errors"
I'm getting cannot read properties when trying to run rnpm in this order :

react-native init test
cd test/
npm install react-native-blur
rnpm link
[code]
rnpm link react-native-blur
[code]

[2015-12-09 15:03] radko93 commented on #46
I have the same issue with `assets.concat`.

[2015-12-09 15:04] grabbou commented on #46
Sorry, we forgot to publish 1.3.0 to npm :lollipop: Please `npm install -g rnpm` again and it will run flawlessly.

[2015-12-09 15:04] #46 closed

[2015-12-13 18:49] grabbou commented on #29
ETA: this friday release.

[2015-12-14 07:22] sospartan commented on #10
Updates? @grabbou
Does this 'new-library'  with react-native or rnpm ?

[2015-12-14 08:40] Kureev commented on #10
@sospartan
[code]

[2015-12-14 08:54] sospartan commented on #10
@Kureev thanks

[2015-12-14 08:55] Kureev commented on #10
@grabbou do you think we need it? We already have a `react-native new-library`?

[2015-12-14 09:02] sospartan commented on #10
@Kureev `react-native new-library' is useless to standalone project, which only create the bridge method in '/node_modules/react-native/Libraries/'.
I think `init` should create something I can publish to npm and github later.

[2015-12-14 09:03] Kureev commented on #10
Oh, sorry, seems I misunderstood it's behavior. So, we need something like `rnpm init`, indeed

[2015-12-14 09:08] sospartan commented on #10
[code]
I suggest sth like this. :smile:

[2015-12-14 09:40] grabbou commented on #10
@Kureev, yes - but proxy takes 5 lines and removes need for going back to another tool. But it's not a top priority.

[2015-12-14 14:47] idibidiart opened #50 "Why not support Microsoft CodePush?"
The reason I prefer it over AppHub is because it is free.

I know it's by invite only but it wasn't hard to request and get an invite.

[2015-12-14 15:06] grabbou commented on #50
AppHub is developed as a plugin by @ptmt and there's no core team work on that being done yet. We encourage the community to cover `CodePush` as well, but since I am not using it in production, I'd rather see somebody else working on that.

[2015-12-14 15:06] #50 closed

[2015-12-14 16:13] Kureev commented on #50
You can also ping me if you need any help with it!

[2015-12-14 20:48] xxsnakerxx opened #52 "[npm 3] Cannot find module 'app/node_modules/rnpm/node_modules/rnpm-plugin-link'"
rnpm installed as local dependency, launched via `npm run rn-link` (__node_modules/.bin/rnpm link__ in pjson script) and got

Error: Cannot find module 'app/node_modules/rnpm/node_modules/rnpm-plugin-link'
    at Function.Module._resolveFilename (module.js:327:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:355:17)
    at require (internal/module.js:13:17)

[2015-12-14 20:58] xxsnakerxx opened #53 "Linking react-native-device-info android dependency failed"
Error: ENOENT: no such file or directory, open 'app/android/app/src/main/java/com/my/app/MainActivity.java'
    at Error (native)
    at Object.fs.openSync (fs.js:585:18)
    at Object.fs.readFileSync (fs.js:432:33)
    at app/node_modules/rnpm-plugin-link/src/android/registerNativeModule.js:11:12
    atapp/node_modules/lodash.flowright/index.js:35:42
    at registerNativeAndroidModule (app/node_m

[2015-12-14 21:10] Kureev commented on #53
if you have a custom path to MainActivity.java, you can specify it in `rnpm` config section of package.json:
[code]

[2015-12-14 21:14] Kureev commented on #52
Well, we haven't expected somebody will use rnpm as a local dependency, but I can easily add an additional path (as you mentioned above) to `getCommands` :wink:

[2015-12-14 21:20] xxsnakerxx commented on #53
The error message has right path to MainActivity.java and android project has no any changes after generating.

[2015-12-14 21:25] Kureev commented on #53
Well, the error says ENOENT, so it seems file is missing.
Can I reproduce this issue by running `rnpm link` after scaffolding a new react-native project?

[2015-12-14 21:27] xxsnakerxx commented on #53
HO-HO-HO, I was wrong :-) paths are different...

__error__ `/Users/xxsnakerxx/Works/Eris/QPlaces/Client/android/app/src/main/java/com/coloreight/qplaces/MainActivity.java`

__real__ `/Users/xxsnakerxx/Works/Eris/QPlaces/Client/android/app/src/main/java/com/qplaces/MainActivity.java`

but whose the bug is?

[2015-12-14 21:31] xxsnakerxx commented on #53
seems yours, because RN doesn't ask bundle identifier when init 🤔

[2015-12-14 21:38] xxsnakerxx commented on #53
And I've found bundle identifier in my project in only one place, it's xcodeproj

[2015-12-14 21:43] grabbou opened #55 "Warn when multiple xcodeproj found"
As per discussing with @jsierles, we should warn when multiple projects found in that method https://github.com/rnpm/rnpm/blob/master/src/config/ios/findProject.js#L29 and point out we are returning the first match (and optionally include tips how to change that).

Also, when doing this -> add in test case for `IntegrationTests` and whatever that contains `tests` to make sure it's skipped from sea

[2015-12-14 21:46] Kureev commented on #53
We can also get it from Android manifest file (package property with `.` replaced by `/`). The question is why your manifest file contains a different path...

[2015-12-14 21:46] grabbou commented on #53
@xxsnakerxx please open up your AndroidManifest.xml and update value to reflect real path in file system, because it's not `com.qplaces` but `com.coloreight.qplaces` or something (am I right?). Anyway, your folder structure should mirror package name in order for the `rnpm` to work flawlessly.

[2015-12-14 21:48] Kureev commented on #53
@grabbou well, I can also try to search for `MainActivity.java` as we do it for manifest file

[2015-12-14 21:50] grabbou commented on #53
Yep, the question is - is it really that necessary? I mean - in almost all cases folders should reflect package name - I think that's industry standard in Java. But since I am not a master in that matter, I am leaving that open to you.

[2015-12-14 22:13] Kureev commented on #55
I did exactly the same for manifest file. In my case I had a multiple manifest files inside `builds` folder. So, you idea have a :+1: from me.

P.S. About `warn` - I'm not sure. Let's say if we'll face this issue again, we'll discuss how to solve it. Now it just looks to me like we forgot to add some folder to ignore.

[2015-12-14 22:21] grabbou commented on #55
Yeah, it's very unlike case. I believe that with latest PR #56 that should not happen again.

[2015-12-15 05:47] xxsnakerxx commented on #53
AndroidManifest.xml -> `package="com.qplaces"`
MainActivity.jaja -> `package com.qplaces;`

[2015-12-15 08:22] Kureev commented on #53
Android part works independent from iOS part. Can you share this project with me and/or @grabbou?

[2015-12-15 12:18] xxsnakerxx commented on #53
I can't because it's private... but I've found something interesting...

That's output `console.log(project)` [from here](https://github.com/rnpm/rnpm-plugin-link/blob/master/src/link.js#L34)

[code]

I have folder `_backup` which contains __cordova__ project with ios and android platforms and that android project has manifest(__/Users/xxsnakerxx/Works/Eris/QPlaces/Client/_backup/cordova/platforms

[2015-12-15 12:32] xxsnakerxx commented on #53
I renamed `_backup` to `z_backup` and all works fine, but I think need show warning if found multiple projects (+1 here https://github.com/rnpm/rnpm/issues/55)...

[2015-12-15 12:38] Kureev commented on #53
Yeah, that was an issue! I think we need to make an option to manually exclude some folders from search. What do you think, @grabbou? I propose something like this:
[code]

[2015-12-15 12:41] xxsnakerxx commented on #53
Or better way IMHO, rnpm should have default config with paths to projects (__ios__ -> `RN_ROOT/ios`, __android__ -> `RN_ROOT/android`)... If user has non standard folders structure, he can set path in pjson like here https://github.com/rnpm/rnpm/issues/53#issuecomment-164560830

[2015-12-15 12:42] grabbou commented on #53
You cannot set android folder for now as it expects it to be either `android` or `app/android` (that will be improved soon).

I think we can blacklist `cordova` in globbing for manifest.xml and that should solve the issue?

[2015-12-15 12:45] Kureev commented on #53
@grabbou I'm afraid in this case we need to blacklist a lot of different things. Better to keep it up to the user, imo

[2015-12-15 12:46] grabbou commented on #53
Agreed. I have a small solution to that, @xxsnakerxx you can just
[code]
and a small change I am making will make that working

[2015-12-15 12:58] xxsnakerxx commented on #53
Ok. I will try that, but I'm little bit confused, why __React Native Package Manager__ doesn't know default paths to platforms? :-) I think rnpm should search there first time... and if nothing was found then should search everywhere and choose first match...

[2015-12-15 13:00] grabbou commented on #53
The default path to platform is `android` or `android/app`. It's just that we were looking for `AndroidManifest.xml` in a wrong folder ;) Generally, there's nothing like a default path yet, especially in Java where almost every single module has its own structure.

For iOS - it's much more better since we only care about one file :)

[2015-12-27 21:53] Kureev opened #65 "rnpm logo"
Hey folks!

I think it would be nice if we'll have a nice logo for `rnpm`. But I'm not a designer and we have no money to pay for a professional logo designer service :cry:. That's why I want to organize a small contest for designers (if we have any here).

**What's required?**
Make a nice `rnpm` logo and post it here not later than 10th of January.

**What gets the winner?**
The winner will be me

[2015-12-27 21:56] Kureev commented on #65
Few sketches from my friend:
![](http://s17.postimg.org/40ktoz8bj/image.jpg)
![](http://s17.postimg.org/ify5a4vz3/image.jpg)
![](http://s17.postimg.org/dvbyv7c9r/image.jpg)

[2015-12-27 22:10] #28 closed

[2015-12-27 22:13] Kureev commented on #6
Seems it's not required

[2015-12-27 22:13] #6 closed

[2015-12-27 22:14] Kureev commented on #52
Should be fixed in the master branch since #54 has been merged. We'll bump a npm version soon.

[2015-12-28 04:36] sonnylazuardi commented on #65
![logornpm-vertical](https://cloud.githubusercontent.com/assets/856609/12014053/18eb416a-ad57-11e5-85df-6e65ea590fb8.png)
![logornpm-trans](https://cloud.githubusercontent.com/assets/856609/12014054/18ee89f6-ad57-11e5-8dff-15aa44b566a2.png)
![logornpm](https://cloud.githubusercontent.com/assets/856609/12014055/193022d0-ad57-11e5-82c0-120caf64db70.png)

[2015-12-28 11:50] WellDone2094 commented on #65
a box with react icon on it

[2015-12-28 21:11] michelemazzucco commented on #65
Here's a quick mockup, just for fun :)

![screen shot 2015-12-28 at 22 10 44](https://cloud.githubusercontent.com/assets/4552203/12025502/dcb56596-adaf-11e5-94d0-3dcc2631cd78.png)

[2015-12-29 16:49] grabbou commented on #65
That's awesome!! All of these are stunning, but I am in love with @michelemazzucco first one! <3

[2015-12-29 16:59] Kureev commented on #65
I like all of them, but lets wait for 10th of Jan to start an official polling 😉

[2015-12-29 21:46] margheimd commented on #65
My brother recommended I give this a shot for you guys. As an aspiring graphic designer, I'm trying to get my name out there and some work in my portfolio.
![rnmp-logo](https://cloud.githubusercontent.com/assets/16293229/12042720/3e72eab8-ae43-11e5-8b44-9cb2bcaedac8.png)

[2015-12-29 22:18] michelemazzucco commented on #65
Thank you so much @grabbou!

[2015-12-30 19:42] okonet commented on #65
A quick concept:

<img width="336" alt="2015-12-30 at 20 41" src="https://cloud.githubusercontent.com/assets/11071/12056350/d0da8fee-af35-11e5-8c7d-381200906db2.png">

[2016-01-03 15:39] cbrevik opened #67 "End-user config prompt for rnpm"
Hi guys! As per our discussion on Discord, here are some mad ramblings;

For my specific case, I need the end-user to input a Google Analytics tracking id if they want to use my [Google Analytics bridge](https://github.com/idehub/react-native-google-analytics-bridge).

This tracking id is unique for each end-user, and in some cases unique for each platform (Android / iOS).

Even though rnpm can do

[2016-01-03 23:30] grabbou commented on #67
Quick note before I get back from holidays: as per linked module -> we are going to integrate native dependency management soon this month so this will get automatically resolved, but yeah - generally prompts are lovely for better experience (especially when we assume some defaults - when something's wrong - we can just ask for it instead of quitting with log.warn/log.err)

[2016-01-04 03:51] sonnylazuardi commented on #65
@michelemazzucco your logo is very cool :+1:

[2016-01-05 17:53] andycaramba commented on #52
The same issue with npm 3.5.3 and node_modules in $HOME
[code]

[code]

[code]

[2016-01-05 22:54] grabbou commented on #52
Released under 1.3.5. Please see if it fixes your issue.

[2016-01-05 22:54] #52 closed

[2016-01-05 22:58] grabbou commented on #55
Consider again after #67 gets to next stage.

[2016-01-06 15:35] andycaramba commented on #52
The issue is gone. Thanks.

[2016-01-09 23:57] Kureev opened #68 "rnpm logo [polling]"
Hey everybody! I'm pretty glad to announce that we have a few options for the logo! Please, select a one you prefer and post it here. Next Sunday (17th of January) we'll announce a winner :8ball:!

[List of proposed works can be found here!](https://github.com/rnpm/rnpm/issues/65)
Good luck to everybody!

[2016-01-09 23:57] #65 closed

[2016-01-09 23:59] Kureev commented on #65
Dear community, thanks for your efforts! Now it's time to vote!

[Check a new issue for polling!](https://github.com/rnpm/rnpm/issues/68)

[2016-01-10 00:31] jacob-israel-turner commented on #68
I like [this](https://cloud.githubusercontent.com/assets/856609/12060022/f8df2834-af98-11e5-8dcb-b3c9b538b41f.png) one. :+1:

[2016-01-10 01:06] fibric commented on #68
I like the top one in https://github.com/rnpm/rnpm/issues/65#issuecomment-167658145 :+1:

[2016-01-10 02:34] Arkni commented on #68
The top one in [#65 (comment)](https://github.com/rnpm/rnpm/issues/65#issuecomment-167482237) :+1:

[2016-01-10 06:22] ptmt commented on #68
[+1](https://cloud.githubusercontent.com/assets/856609/12060022/f8df2834-af98-11e5-8dcb-b3c9b538b41f.png)

[2016-01-10 10:22] agrishun commented on #68
[+1] (https://github.com/rnpm/rnpm/issues/65#issuecomment-167482237)

[2016-01-10 10:28] grabbou commented on #68
This one https://github.com/rnpm/rnpm/issues/65#issuecomment-167658145

[2016-01-10 15:00] cbrevik commented on #68
[Top one](https://cloud.githubusercontent.com/assets/4552203/12025502/dcb56596-adaf-11e5-94d0-3dcc2631cd78.png).

[2016-01-10 16:41] Kureev commented on #68
I like [this one](https://cloud.githubusercontent.com/assets/856609/12060022/f8df2834-af98-11e5-8dcb-b3c9b538b41f.png)

[2016-01-10 21:04] brentvatne commented on #68
The second one here https://github.com/rnpm/rnpm/issues/65#issuecomment-167658145

[2016-01-11 14:02] kaphacius commented on #68
[+1](https://github.com/rnpm/rnpm/issues/65#issuecomment-167482237)

[2016-01-13 13:43] webrangeriit commented on #68
[+1](https://github.com/rnpm/rnpm/issues/65#issuecomment-167482237)

[2016-01-13 13:44] gbipplriau commented on #68
[+1](https://github.com/rnpm/rnpm/issues/65#issuecomment-167482237) top one

[2016-01-19 20:21] grabbou opened #73 "[Meta] Remove `alpha` note"
I guess we are stable right now since there were not that many issues since we have started and that could be safely removed.

I propose to change it to something like:

[2016-01-20 09:03] Kureev commented on #73
Make a PR

[2016-01-20 10:39] lukehedger commented on #68
[+1](https://github.com/rnpm/rnpm/issues/65#issuecomment-168062494)

[2016-01-20 11:18] grabbou commented on #73
Will do by the evening.

[2016-01-20 11:32] grabbou commented on #68
I think @Kureev it's time to announce the winner

[2016-01-20 11:39] grabbou commented on #55
Fixed more edge cases in #74. It is very unlikely to happen again, but we can re-open if more people get affected by that. So far, seems like glob works quite well.

[2016-01-20 11:39] #55 closed

[2016-01-21 11:24] Kureev commented on #68
Based on this poll, the winner is @sonnylazuardi:
![](https://cloud.githubusercontent.com/assets/856609/12060022/f8df2834-af98-11e5-8dcb-b3c9b538b41f.png)

[2016-01-21 11:24] Kureev commented on #68
Thanks to everybody who took a part in this contest :+1:

[2016-01-21 11:24] #68 closed

[2016-01-21 13:45] #73 closed

[2016-01-22 16:08] danhawkes opened #76 "ReferenceError: packageName is not defined"
When trying to `rnpm link react-native-vector-icons`:

rnpm: 1.4.0
node: v5.4.1
npm: 3.3.12
react-native-vector-icons: 1.0.4

    /Users/dan/.nvm/versions/node/v5.4.1/lib/node_modules/rnpm/node_modules/rnpm-plugin-link/src/link.js:37
          log.info(`Android module ${packageName} is already linked`);
                                     ^

    ReferenceError: packageName is not defined

[2016-01-22 17:03] grabbou commented on #76
Blah. Will hotfix in 5 minutes

[2016-01-22 17:15] grabbou commented on #76
Try installing with `npm install -g rnpm` to get new version of link. The error should be gone!

[2016-01-22 19:13] danhawkes commented on #76
Awesome, thanks for the fast fix.

[2016-01-22 19:13] #76 closed

[2016-01-23 15:04] DVassilev opened #77 "Linking Android dependancies not working"
When I try to link react-native-linear-gradient it tells me that the Android dependancy is 'already linked'. This, however, is incorrect. Any idea as to what this may be caused by?

[2016-01-23 17:42] Kureev commented on #77
Which react-native version are you using?

[2016-01-24 05:06] DVassilev commented on #77
@Kureev
react-native-cli: 0.1.10
react-native: 0.18.1
rnpm: 1.4.1
npm: 2.14.7
node: 4.2.3

[2016-01-24 23:07] Psykar commented on #77
Looks like the changes to MainActivity.java have changed in 0.18.1

[code]

Where as previously it was
[code]

[2016-01-24 23:20] Psykar commented on #77
This looks like it's fixed here: https://github.com/rnpm/rnpm-plugin-link/pull/22

[2016-01-24 23:32] Kureev commented on #77
It is, going to merge it soon, need 1 hour more

[2016-01-25 10:38] udiedrichsen opened #78 "Update Documentation"
Hi,

I didnt get the point about rnpm. Why do the world need rnpm ?
Some people suggest to use rnpm, but nobody seems knows why.
Most hits in google regarding my search rnpm or react-native package manager are not useful.

Could you update your readme with some more details or describe the workflow ?

[2016-01-25 10:55] grabbou commented on #78
Hey,

To me, the docs are ok. There's rationale, installation & available commands section. As the same suggest - it's package manager and it links native dependencies.

Would you mind quoting anyone? So far the experience has been pretty cool and I haven't heard of anyone having troubles.

The workflow is clearly described in `Available commands` as well as https://facebook.github.io/react-native

[2016-01-25 10:57] #78 closed

[2016-01-25 10:57] udiedrichsen commented on #78
Ah ok, thats the missing step: Thx !
I didn't read that facebook page.

[2016-01-25 15:58] Kureev commented on #78
Maybe we need to be a bit more explicit what means "linking dependencies" in our README.md. At least refer to this facebook page. Wdyt, Mike?

[2016-01-25 17:49] grabbou commented on #78
Maybe just refer to the page? Not sure if we want to explain all these things! Just 'of you are wondering what he heck is all that stuff, read ...' :gun:

[2016-01-25 17:50] Kureev commented on #78
It's definitely a good first step!

[2016-01-27 13:59] danhawkes opened #79 "Malformed gradle module paths"
Running `rnpm link` creates the following paths in `settings.gradle`

    +project(':react-native-vector-icons').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-vector-icons//Users/dan/<removed>/app/node_modules/react-native-vector-icons/android')
    +include ':react-native-camera'
    +project(':react-native-camera').projectDir = new File(rootProject.projectDir, '../n

[2016-01-27 16:20] Kureev commented on #79
Sorry for this issue. I'll do my best to fix it asap

[2016-01-27 16:31] Kureev commented on #79
Theoretically, https://github.com/rnpm/rnpm-plugin-link/blob/master/src/android/patches/makeSettingsPatch.js#L4-L7 should do the trick. Can you confirm that you're using `rnpm-plugin-link@1.5.1`?

[2016-01-28 13:16] danhawkes commented on #79
I think it's actually `1.5.2`, or at least that's the version in `rnpm/node_modules/rnpm-plugin-link/package.json`.

[2016-01-29 18:08] grabbou commented on #79
Hey @danhawkes, would you mind console.logging projectConfig & dependencyConfig above the lines pasted by @Kureev and sending it here? That'd be very helpful, there is definitely something weird going on.

[2016-01-29 18:52] Kureev commented on #79
I think that should be closed now, right?

[2016-01-29 19:16] grabbou commented on #79
I don't think so... the issue here is about two different paths that for some reason are not relative to each other. Let's wait for console.log output to double check.

[2016-02-02 11:55] tuanpmt opened #81 "Add xcode linker flag to main project"
Hello,
My react-native package have xcode library project and need to add linker flag to main project:
`-framework CFNetwork -framework Security -licucore`
How to do it automatic with rnpm.

Thanks,

[2016-02-02 12:45] grabbou commented on #81
Hey,

This is out of scope for rnpm.

Please check the below link:
http://docs.millennialmedia.com/ios-ad-sdk/adding-objc-linker-flag-xcode.html
<img src="http://docs.millennialmedia.com/ios-ad-sdk/adding-objc-linker-flag.png" />

[2016-02-02 12:45] #81 closed

[2016-02-02 15:09] danhawkes commented on #79
Hmm, I'm not sure what's changed in the project, but suddenly I can't reproduce this issue. May have wiped node_modules, or updated react etc, but suddenly it seems to work as expected. Thanks anyway for the responses; will re-open again if I can reproduce it reliably.

[2016-02-02 15:09] #79 closed

[2016-02-02 15:32] grabbou commented on #79
Good to know! Good luck on your project ;)

[2016-02-02 21:54] dannolan opened #82 "RNPM does not work with multiple targets"
Hullo there, got a pretty simple one, our company uses multiple targets for different environments on iOS and Android projects:

Cool App (this one ships to the app store)
Cool App Test
Cool App UAT

You get the picture, rnpm currently only links to the main target or named target, not all targets (or the ability to select or nominate a target through the CLI) happy to help patch this one but want

[2016-02-02 22:31] grabbou commented on #82
Hey,

That's reasonable case - haven't thought about it that much before. I think the easiest way would've been to make `rnpm` accept a flag specifying target name and just run it n times, for each target separately. I do understand that might be cumbersome but I am not sure if complicating rnpm-plugin-link logic is worth handling that case.

Aon the other hand - I don't have any opinion on that y

[2016-02-06 17:36] grabbou commented on #53
Could you please check if this still occurs? @xxsnakerxx I think recent changes have fixed the issue we were talking about here.

[2016-02-11 11:49] Kureev opened #85 "Remove npmlog"
We're not using it, so let it go!

[2016-02-11 12:31] grabbou commented on #85
True, if think all was moved to rnpm link?

[2016-02-11 13:04] Kureev commented on #85
yep, I'll clean it up

[2016-02-13 18:24] lostintangent commented on #29
@grabbou Any updates on this? We're planning to document the use of RNPM soon for installing the CodePush plugin, and the only step that still needs to be done manually on iOS is linking the "host" Xcode project with libz. I'd love to be able to automate that part as well and would be open to making whatever changes were neesed to support it.

[2016-02-13 21:01] Kureev commented on #29
"this Friday release" :laughing:

[2016-02-13 21:05] grabbou commented on #29
He he he.

Yes, I looked into it already, but I am quite short on time recently (we are cooking up the biggest release every with @Kureev and other people), if you have time - would you be able to help us out with that? I'd really appreciate any input, esp. to hear more needs and use cases.

[2016-02-14 23:15] Kureev commented on #85
Closed by https://github.com/rnpm/rnpm/pull/86

[2016-02-14 23:15] #85 closed

[2016-02-15 00:24] Kureev opened #92 "Deep integration into react-native"
- [x] Discuss replacing `react-native`'s `underscore` by `lodash`
- [x] Remove unused `rnpm` dependencies
- [x] Scope an `rnpm` test coverage by CI
- [x] Clarify the next step using `update-notifier`
- [x] Discuss using `fs-extra` (replacing by something else?)
- [x] Discuss using `glob`
- [x] Discuss using `commander` (replace current react-native implementation?)

[2016-02-15 09:00] grabbou commented on #92
I think glob is fine and there's no alternative to it.

Re: `commander` - I'd remove it and use react-native specific implementation (following what @mkonicek said recently). I'll submit a PR with that today by the evening.

[2016-02-15 09:07] Kureev commented on #92
`commander` - compose a PR and let's discuss it. I also feel the same about it
`update-notifier` - I agree to remove it, but we need to discuss how we're going to maintain versions in the future
`lodash` - I've took a look on RN core and I'd prefer to move RN to `lodash` than us to move to `underscore`. Hope we can negotiate it.
`fs-extra` - we use it for the copying. I feel we can replace them by

[2016-02-15 09:10] grabbou commented on #92
`I'd prefer to move RN to lodash` - RN is 3810231x bigger and there's no point in introducing potential issues (in some cases these are not drop in replacements). Also, I'd imagine that's something Facebook is using internally, so -1 from me #reality

Re: fs-extra, do it for link anyway!

Re: versions - easy, new version shipped every 2 week (since CLI always ships at the time RN ships) and the sa

[2016-02-15 09:11] Kureev commented on #92
About lodash vs underscore: https://github.com/facebook/react-native/search?l=javascript&q=underscore&utf8=%E2%9C%93

[2016-02-16 10:16] orta commented on #29
Is there any reason for using Carthage here other than the idea of it being un-opinionated? CocoaPods supports an order of magnitude more projects, and can skip Xcode integration if you want. It can also build the frameworks for you, if you choose, but that's not the default.

[2016-02-19 15:55] Kureev commented on #92
I think we discussed all these points and I can close this issue

[2016-02-19 15:55] #92 closed

[2016-02-19 15:57] Kureev commented on #67
I think this one can be solved by using hooks

[2016-02-19 15:57] #67 closed

[2016-02-21 16:35] tristangodfrey opened #96 "It aims to work with almost all packages available with no extra configuration required."
Should there perhaps be a list of popular packages that do and don't work?

For example `react-native-code-push` requires an extra binary to be linked in addition to the work that `rnpm link` does.

[2016-02-21 18:31] Kureev commented on #96
Hi Tristan,

I'm afraid this list would be too big :smiley:
`react-native-code-push` authors can use our hook system to link an additional library (if it's needed).

[2016-02-21 18:31] #96 closed

[2016-02-22 00:33] grabbou commented on #96
Well, it works with them. By `it works` we mean it finds the project and links it. Native dependencies will be supported in the future, but for now - this only applies to xcodeproject / gradle.

[2016-02-25 00:57] sirvon opened #98 "TypeError: Cannot read property 'children' of null"
[code]

[2016-02-25 13:48] grabbou commented on #98
Thanks for the report. It sounds strange it still triggers an error (we handled it in the past), I'll take a look later today to see if I can reproduce

[2016-02-27 20:29] briancaw opened #99 "Add more logging"
Suggestions:

1)  NOOP commands should log something
2)  There should be a verbose option
3)  Verbose option should log info about linking

In particular, I think that the following

`rnpm info Android module react-native-appboy-sdk is already linked`

might be a bug (not sure if it's on our end our rnpm's), but I'm finding it a bit involved to track down why it thinks that.

Thanks!

[2016-02-27 22:02] Kureev commented on #99
That message just tells you that module you're trying to link has been already linked and wouldn't be linked again :) Is it an issue? Or I misunderstood this one?

[2016-02-27 22:31] briancaw commented on #99
Hey @Kureev,

Thanks for the quick reply.  The issue I had was that my package was formatted incorrectly and I had run  `rnpm link` a couple times such that it was having some strange behavior - e.g. some parts of the linking were already done, but `rnpm link` would do earlier steps that were undone and then output that message that seemed like it was a NOOP (I was testing on a project not in vers

[2016-02-27 23:45] Kureev commented on #99
I think [that's what you're looking for](https://github.com/rnpm/rnpm-plugin-link/blob/master/src/android/registerNativeModule.js#L39-L42) :wink:

I was thinking about the `doctor` plugin for rnpm, so that could be one of the use-cases. But I need to discuss it with @grabbou first of all.

[2016-02-28 00:35] Kureev commented on #98
so, is it reproducable, @grabbou?

[2016-02-28 00:39] Kureev commented on #53
Closed due to lack of feedback

[2016-02-28 00:39] #53 closed

[2016-02-28 08:12] grabbou commented on #98
Yes, fixed in https://github.com/rnpm/rnpm-plugin-link/pull/34

PS @sirvon ensure you either have `Libraries` group in your XCode project (it should be created by default by react-native init) or make sure `libraryFolder` set in your rnpm config matches group you have.

Starting from next version, we will create it automatically for you, just like we create Resources group for assets.

[2016-02-28 08:14] #98 closed

[2016-03-04 02:46] DVassilev commented on #77
@Kureev this is still an issue for me, has not been fixed.

[2016-03-04 08:43] Kureev commented on #77
@DVassilev update your `rnpm-plugin-link`, the issue should be solved in `1.5.5`

[2016-03-04 09:16] DVassilev commented on #77
@Kureev How do I do that?

[2016-03-04 09:25] Kureev commented on #77
@DVassilev depends on how you installed `rnpm`. If we installed it globally, run `npm i rnpm -g` again and it'll update your rnpm version with `rnpm-plugin-link`. Otherwise, you can just run `npm i rnpm-plugin-link -g` and update only a `rnpm-plugin-link`. If you're using a local installation, run the same commands without `-g` flag.

[2016-03-04 12:32] DVassilev commented on #77
@Kureev I updated and still it doesn't link android. It says already linked.

[2016-03-04 13:48] Kureev commented on #77
@DVassilev remove `:react-native-vector-icons` from your build.gradle file and try again.

[2016-03-04 14:04] DVassilev commented on #77
@Kureev how did you know that is the package I am installing? I'll try it out
tomorrow morning and let you know.

On Sat, Mar 5, 2016 at 12:48 AM, Alexey <notifications@github.com> wrote:
@DVassilev [https://github.com/DVassilev] remove :react-native-vector-icons from your build.gradle file and try again.

—
Reply to this email directly or view it on GitHub
[https://github.com/rnpm/rnpm/issues/77#

[2016-03-09 09:48] grabbou commented on #99
Yeah, that's something we've been thinking about and I think we can add more verbose logs to `link`. Also - this week I am planning to land interface questions so that you can answer some of them `as you go` and have them automatically stored in your package.json (e.g. "We couldn't find XYZ file, is it one of these?")

[2016-03-09 09:49] grabbou commented on #82
After thinking about it for a while, I think we can expose an array of `targets` into config (which defaults to your main target) that you can override in order to have it run for them all.

[2016-03-10 19:15] evanmrose opened #106 "XCode Crashing after rnpm unlink"
I just unlinked react-native-camera then reinstalled and relinked and now Xcode crashes each time I try to open the project.

Error:

`Process:               Xcode [48567]
Path:                  /Applications/Xcode.app/Contents/MacOS/Xcode
Identifier:            com.apple.dt.Xcode
Version:               7.2 (9548)
Build Info:            IDEFrameworks-9548000000000000~7
App Item ID:           49779

[2016-03-10 19:47] grabbou commented on #106
Also git diff of changes to pbxproj would help a lot!

[2016-03-11 23:04] alexkehayias commented on #106
I also had this problem `rnpm v5.6.0` where unlinking causes Xcode Version 7.2 (7C68) to crash and anytime the project is opened again in Xcode it crashes. Other projects continue to work.

[2016-03-14 07:38] VansonLeung opened #107 "React Native 0.21.0 : running "rnpm link" outputs nothing in console"
React Native 0.21.0 :  running "rnpm link" outputs nothing in console
and it seems not linking anything of iOS and Android dependencies of the node modules into project.

I tested "npm install react-native-spinkit --save" and then "rnpm link"

And then after 1 second the command is complete, but no logs come out and the dependencies are not yet linked.

[2016-03-14 09:43] Kureev commented on #107
Try to update your rnpm to version 1.5.1, that should solve your issue.
Let me know if it doesn't work for you, I'll re-open this issue.

[2016-03-14 09:43] #107 closed

[2016-03-14 15:46] VansonLeung commented on #107
I just updated to rnpm@1.5.1

And then I created new project by "react-native init rnpm_test_3"

And my package.json is being spawned as below:

{
  "name": "rnpm_test_3",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node_modules/react-native/packager/packager.sh"
  },
  "dependencies": {
    "react-native": "^0.21.0",
    "react-native-spinkit": "0.0.7"
  }
}

When I try

[2016-03-14 16:41] Kureev commented on #107
I can't reproduce what you're saying.
![image](https://cloud.githubusercontent.com/assets/2273613/13751751/e7f9b5fe-ea0b-11e5-905a-aea93d6a3dc5.png)

Which platform do you use?

[2016-03-15 05:32] VansonLeung commented on #107
Ok, I found that the bug only happens when I use react-native-spinkit library.
It seems it is this library which does not support rnpm.
I need to investigate that library instead. Closing

[2016-03-15 16:34] VansonLeung opened #109 "iOS - findProjects would Skip all projects having names : *example* , *test*"
I just found out the reason for #107

In: findProjects.js

`const GLOB_EXCLUDE_PATTERN = ['node_modules/**', '**/*@(E|e)xample*/**', '**/*@(T|t)est*/**', 'Pods/**'];
`

And I just named my project name as rnpm_test_1

then when I run "rnpm link", it just skipped "rnpm_test_4.xcodeproj" and links nothing for iOS at all.

[2016-03-15 16:56] Kureev commented on #109
strange, `**/*@(T|t)est*/**` shouldn't ignore any end-files, only folders.
Do I miss something, @grabbou?

[2016-03-16 02:45] anderson916 opened #110 "ReferenceError: log is not defined"
[code]

[2016-03-16 02:45] anderson916 commented on #110
using the latest rnpm 1.5.2

[2016-03-16 03:44] GantMan opened #111 "rnpm ios link failure with CocoaPods"
Not sure what's up, but this keeps happening when I try to use `rnpm` with anything ios
<img width="764" alt="screen shot 2016-03-15 at 10 43 07 pm" src="https://cloud.githubusercontent.com/assets/997157/13801397/61978bc2-eaff-11e5-9ac7-b03810486b56.png">

[2016-03-16 06:33] grabbou commented on #109
Yes, that's how it works, although it's unlikely we will update that glob.

Can you set path to project manually in package.json as a custom rnpm config? That way, you will skip findProject() entirely.

[2016-03-16 06:34] grabbou commented on #109
(@Kureev it's likely outer folder has the same name if rn generator was used)

[2016-03-16 06:34] grabbou commented on #107
Please cc author here or in his repo so we can help!

[2016-03-16 06:38] grabbou commented on #111
In general? Or in this project? What's the xcode library version? (can you check its package.json)? And xcode (app) itself? I am hoping there was no minor breaking change release.

[2016-03-16 06:39] grabbou commented on #110
Good catch! Hint: create group called `Libraries` in your xcode project in the meantime, shipping fix right now.

https://developer.apple.com/library/ios/recipes/xcode_help-structure_navigator/articles/Creating_a_Group.html

[2016-03-16 06:41] grabbou commented on #110
Please `npm install rnpm -g` again, error should be fixed in 1.6.1 rnpm-plugin-link :)

[2016-03-16 06:41] #110 closed

[2016-03-16 06:43] #109 closed

[2016-03-16 06:44] grabbou commented on #99
@briancaw would you mind helping us with that by sending over a PR with few logs here and there? ;)

[2016-03-16 06:53] anderson916 commented on #110
Another error:

[code]

[2016-03-16 06:55] anderson916 commented on #110
I am using xcode workspace because of using cocoapods. Is this the reason?

[2016-03-16 08:52] Kureev commented on #110
@anderson916 can you create a new issue with this error?

[2016-03-16 09:01] grabbou commented on #110
Shouldn't be the reason, I'll check later today.

[2016-03-18 18:51] chandlervdw opened #112 "`rnpm link` does not properly link library"
I even tried `rnpm link react-native-blur` and I get
`rnpm-link info Linking react-native-blur ios dependency`
`rnpm-link info iOS module react-native-blur has been successfully linked`

I still get these errors:
`ExceptionsManager.js:76Warning: Native component for "BlurView" does not exist`
`ExceptionsManager.js:76 Warning: Native component for "VibrancyView" does not exist`

[2016-03-18 19:00] GantMan commented on #111
This is on a project that has grown since RN 0.14, with tons of manual upgrades.  But it works and ships to the store just fine.

Xcode App: Version 7.2.1 (7C1002) - everything is latest for Xcode.

just upgraded to v1.5.2 same exact output.

Let me know if you want me to run any commands to gather info.

[2016-03-19 08:56] grabbou commented on #111
I would just love your `.xcodeproj` to get (could you send it zipped to my email? It's under my profile). I think it's something underlying xcode library is not supporting that I think we can submit a PR to fix!

[2016-03-19 08:58] grabbou commented on #112
Thanks for the report, I'll take a look at that today

[2016-03-19 11:11] nikolaia opened #113 "rnpm link on Windows adds invalid path format in settings.gradle"
Using `rnpm link project-name` on Windows gives you a `settings.gradle` file that is invalid:

[code]

Changing from the escapecharacters `\` to `/` makes it work.

[2016-03-19 17:11] jerson opened #114 "rnpm link Error IOS with Cocoapods"
Hi im trying link my deps
1) create my React native app
[code]
2) install libs
[code]
3) link
[code]
4) add cocoapods
[code]
5) pod install libs
[code]
6) try app
[code]
7) try link again
[code]

[2016-03-19 18:56] Kureev commented on #113
https://github.com/rnpm/rnpm-plugin-link/pull/36 supposed to solve this issue. We're waiting for an author feedback. If you want to help us ship it faster, you can compose a new PR taking into account our hints in  the current one.

[2016-03-19 20:04] #113 closed

[2016-03-19 20:09] grabbou commented on #113
Thanks, that's now live as 1.6.2 (link). You can either reinstall rnpm globally to get new version or just cd to rnpm directory and npm install rnpm-plugin-link!

[2016-03-19 21:26] grabbou commented on #114
Thanks, this is getting fixed, see -> https://github.com/rnpm/rnpm-plugin-link/issues/41

[2016-03-19 21:31] grabbou commented on #112
@Kureev I can see libRNBlur.a being added properly with `rnpm` - can you help me with this one? (it's your :ship:)

[2016-03-19 21:45] grabbou commented on #77
Is that still a bug or has it been fixed? :)

[2016-03-19 21:48] nikolaia commented on #113
Reinstalled. Works great. Thanks :+1:

[2016-03-19 21:50] #114 closed

[2016-03-19 22:22] chandlervdw commented on #112
Not at my machine at the moment but it’s possible that I forgot to recompile the project. I will update as soon as I can. 

--

Chandler

On Sat, Mar 19, 2016 at 5:31 PM Mike Grabowski

<
mailto:Mike Grabowski <notifications@github.com>

https://github.com/Kureev
I can see libRNBlur.a being added properly with

rnpm

- can you help me with this one? (it's your

)

—

You are receiving this because

[2016-03-19 23:55] grabbou commented on #112
ok,thanks

[2016-03-20 11:57] grabbou commented on #106
Please submit a git diff after unlinking so we can see what lines were broken that could cause Xcode to crash.

Or feel free to send `pbxproj` via email if it's rather sensitive.

[2016-03-20 11:58] grabbou commented on #10
I am going to close this one since in a long-term rnpm is moving to react-native where we will keep adding new features (like this one).

[2016-03-20 11:58] #10 closed

[2016-03-21 13:38] chandlervdw commented on #112
@grabbou @Kureev recompiling the project did the trick. Sorry for the false alarm.

[2016-03-21 13:38] #112 closed

[2016-03-22 21:14] cancan101 opened #115 "rnpm does not correctly link react-native-system-notification"
https://github.com/Neson/react-native-system-notification does not correctly link for Android.

Rather than getting:
[code]

I got (no `this`):
[code]

[2016-03-22 21:15] Kureev commented on #115
That's a known thingy. We're currently working on this :heart:

[2016-03-22 21:28] cancan101 opened #116 "rnpm link for `react-native-push-notification` does not do anything"
Running rnpm link after `npm i --save react-native-push-notification` (https://github.com/zo0r/react-native-push-notification) did not make any changes for Android.

[2016-03-22 22:57] grabbou commented on #116
The author uses non-standard name for its android folder (it's `RNPushNotificationAndroid` whereas most of the community follows convention of using `android` folder as a name). Please contact the developer if he could rename it to `android`)

[2016-03-22 22:57] #116 closed

[2016-03-22 22:59] grabbou commented on #116
@cancan101 that was fast!

[2016-03-23 07:26] hvsy commented on #111
@grabbou, I get same error after use new CocoaPods to install dependencies. I found CocoaPods will convert the "xcodeproj" file to xml format. and then the library node-xcode can't handle it. so it will raise the error.

[2016-03-23 08:39] Kureev commented on #115
Btw, before we roll out a better solution, I suggest you to contact a library author to add a special "rnpm" settings to the `package.json`:

[code]

[2016-03-23 08:42] Kureev commented on #115
But it also seems that this library requires some extra things that rnpm doesn't support yet. I'll do my best to make it possible to link these kind of libraries using our tool :wink:

[2016-03-23 08:46] grabbou commented on #115
For now I think we should close this one as it's not really an issue. Let's track progress of that work in a separate place.

[2016-03-23 09:00] Kureev commented on #115
true, the real issue is deeper than passing "this" to the instance.

[2016-03-23 09:00] #115 closed

[2016-03-23 14:11] GantMan commented on #111
this makes sense.  I'm using CocoaPods as well.

[2016-03-23 16:58] grabbou commented on #111
Okey, thanks for the reports! I will investigate and ideally let's patch it in node-xcode itself. I have that feeling it's because of their parser not having all possible expressions defined in some places.

[2016-03-23 17:29] cmcewen opened #117 "rnpm link TypeError"
I'm getting a bunch of successful package link messages, and then this:

[code]
rnpm is at `1.5.2`, react-native is `0.22`

[2016-03-24 00:34] DVassilev commented on #77
@grabbou still seems to be an issue, I have actually stopped using it as has started breaking everything for me once I started adding the FB SDK

[2016-03-24 10:04] itinance opened #118 "Not working with cocoapod: TypeError: Cannot read property 'children' of null"
When cocoapods will be added to a RN-project, rnpm link gives the following error:

![screen shot 2016-03-24 at 10 51 12](https://cloud.githubusercontent.com/assets/1758597/14013825/fb189498-f1ae-11e5-852b-d2a4a0e20cfa.png)

[code]

**Steps to reproduce:**

1. create rn-app and cd init it
`$ react-native init my-test-app && cd my-test-app`

2. install a plugin like:
`$ npm install react-native-vec

[2016-03-24 10:08] grabbou commented on #118
Hey, thanks for reporting. What is your `rnpm` version?

[2016-03-24 10:10] grabbou commented on #117
Hey,

would you mind console.logging what is type of buildSettings.HEADER_SEARCH_PATHS as well as its value in that failing method? Looks like it's not an array (which is fine and is probably an edge-case).

[2016-03-24 10:27] #118 closed

[2016-03-24 15:24] cmcewen commented on #117
`HEADER_SEARCH_PATHS: '"$(inherited)"'`
typeof gives me a `string`

[2016-03-24 15:26] grabbou commented on #117
Ok, thank you! I'll try to reproduce this and come up with a reason for this happening.

[2016-03-24 17:57] appden opened #119 "rnpm link silently skips Xcode projects with "Example" or "Test" in the name"
The `GLOB_EXCLUDE_PATTERN` in `src/config/ios/findProject.js` makes these projects get ignored. I understand what the intention of it is, but the issue is if somebody creates a project called `MyTestApp` or `MyExampleApp` then `rnpm link` will silently skip updating the Xcode project. This can be overridden by explicitly listing the project path in `package.json`, but most users won't know to do t

[2016-03-24 18:34] cmcewen commented on #117
Did some more digging - our project is configured to have multiple build targets, so the header search paths are defined at the project level not in targets. This should take care of that case: https://github.com/rnpm/rnpm-plugin-link/pull/48/files

[2016-03-24 23:57] grabbou commented on #119
Hey,

That sounds reasonable. We could get a small perf. gain by first checking for `ios/project_name` (should solve 99% of `test`-like cases).

Also - if we fail to find any project - we could check if there are ANY .xcodeproj files in your folder and print a message `Hey, looks like you have some iOS stuff but we ignored it because it's likely it contains a keyword we blacklist. Check this link

[2016-03-24 23:59] appden commented on #119
@grabbou That makes sense. It should only look for the canonical location (`ios/project.xcodeproj`) by default, and log a warning about how to point to it from your `package.json` for non-standard locations.

[2016-03-25 00:00] grabbou commented on #119
@appden I just updated the content as you were answering - would you mind dbl checking?

[2016-03-25 00:01] grabbou commented on #117
Hm, true. Thanks for checking that out! However - the purpose of that was to add new headers to the search path (from 3rd party libs) so you will get build issues if we don't add it. Maybe we should check for header search paths at project_level as well?

[2016-03-25 00:04] grabbou commented on #119
Re

I would still like to keep glob as described in my answer since I've seen dependencies I use that have .xcodeproj flat (in the root) instead of `ios`. It's also quite cheap to do and convenient in almost all cases, it's just we haven't added to much logging around that.

[2016-03-25 00:05] appden commented on #119
@grabbou Thanks for the heads up on that! Your proposed solution would work, and probably would not break any backwards compatibility.

Now, if I weren't concerned about backwards compatibility, then I think I'd stand by my previous comment that `rnpm` should enforce React Native conventional locations (under `ios` and root for older projects) and require a `package.json` override to look somewher

[2016-03-25 00:07] grabbou commented on #119
Yeah, we've been discussing that in the past with @mkonicek and other FB guys that enforcing standards would be a cool idea! However, one of the main points I've came up with idea of rnpm was to make it work in my projects where react-native link wasn't able to follow paths etc. Since it's definitely easier to detect .xcodeproj `right` on iOS than to discover correct structure on android - I would

[2016-03-25 00:08] grabbou commented on #119
(There are also quite a few users integrating `react-native` into existing iOS apps. I would like to keep them in mind as well and that's the whole idea behind the config stuff)

[2016-03-25 00:10] appden commented on #119
@grabbou Makes sense. I think if the Xcode project isn't under root or `ios`, then it would be good to give a warning that they should update `package.json` because it _might_ break in the future.

[2016-03-25 00:13] grabbou commented on #119
That's however something we are going to support internally in React Native soon as rnpm is slowly moving its tools to core repository (cc: @Kureev), but we could print something like `other react-native commands might not work` (actually react-native run-ios recent version I think accepts a path to project, but upgrade won't even touch the stuff)

[2016-03-25 00:19] appden commented on #119
Sorry if I misunderstood you. You're saying that `react-native` commands will all use the same logic to locate the Xcode project? That sounds like a good thing. :+1:

[2016-03-25 00:22] grabbou commented on #119
Ultimately in the future - I think so! There's a relevant discussion about that in react native core contributors group on Facebook (I will link it in the morning since I have 3% of battery left :D )

[2016-03-26 15:56] grabbou commented on #119
I have decided to implement

in #120 and I think it will solve almost all cases for now.

[2016-03-26 23:29] Kureev commented on #119
#120 has been merged. I believe we'll include it in the next release.

[2016-03-27 00:07] grabbou commented on #119
Yeah, thanks! I can ship it tomorrow evening after few other small tweaks. Feel free to do it earlier

[2016-03-27 00:07] #119 closed

[2016-03-27 21:28] alexkehayias commented on #106
Here's the git diff after unlinking:

[code]

[2016-03-28 03:09] L-Jovi opened #121 "rnpm link error"
I call `rnpm link` receive below output, I think I already have __Libraries__ group in XCode :(

![error](https://cloud.githubusercontent.com/assets/7262199/14070156/7f5cb2ba-f4d5-11e5-91ea-21856f777070.png)

any ideas?  thanks for your time.

[code]

[2016-03-28 10:38] grabbou commented on #121
This issue has been fixed recently (not yet released) and will be released today. I think we are looking for a different `Libraries` group (is that a top-level group in your project or a nested one?).

The message indicates there's no such top-level group. I will release it in next 3 hours so please do let me know later if the problem persists (and if not - let me know what group we did created be

[2016-03-28 13:59] L-Jovi commented on #121
I'll upgrade when you released :)

[2016-03-28 18:31] appden commented on #119
@grabbou @Kureev thanks for addressing this issue!

[2016-03-28 18:55] appden opened #122 "Provide package.json option for linking iOS shared libraries"
Since React Native (and therefore `rnpm`) expects native modules to be linked in as static libraries, it's up to the application to link to the shared libraries that the static library might need (frameworks seem to be automatically handled by the module auto-linking feature). As a native module author, you can provide additional setup instructions or try to automate it yourself, like we do in our

[2016-03-28 19:18] grabbou commented on #122
Yeah that's quite cool! Would love to see that as a part of link itself.

After looking at your code, looks like you would greatly profit from the feature issue I have been delaying all the time - to extract out `link/src/ios` functions to a separate consumable repo (e.g we already have a auto-Libraries group creation, so we could add that as well).

I think we could hook here https://github.com/r

[2016-03-28 19:25] grabbou commented on #122
Here's the simple PR I've made for you if you would be interesting in implementing that feature! https://github.com/rnpm/rnpm-plugin-link/pull/50 Feel free to submit PR to that PR :)

(Also don't forget to clone rnpm itself and switch to the branch with the same name to get an array of sharedLibraries from getDependencyConfig)

[2016-03-28 19:35] grabbou commented on #121
1.5.3 is out - try it out and let me know :)

[2016-03-28 19:51] grabbou commented on #111
Just to update - we are on the email with @GantMan checking out what might be causing this. I was unable to reproduce that using the files he sent me using latest master, so going to close it as we are going to continue fixing via emails. It might be the case that we have fixed it accidentally in the meantime.

If anyone else encounters this issue - please feel free to ping me so I can reopen.

[2016-03-28 20:06] grabbou commented on #111
Sounds like this might be this -> https://github.com/CocoaPods/CocoaPods/issues/1275#issuecomment-22391200

Can you confirm that this is the case? If yes - I am happy to add a warning with steps how to fix that.

[2016-03-28 21:42] grabbou commented on #122
@appden I am so excited to get this done finally! We've been scheduling this feature all over again and finally sounds like someone finally did present a clean starter for that! Thanks!

[2016-03-29 02:47] L-Jovi commented on #121
@grabbou  it works well now,  thanks :)

[2016-03-29 02:47] #121 closed

[2016-03-29 16:25] marcshilling commented on #111
How can I make `rnpm` link the library in my project under Libraries and not under Pods/Libraries?

[2016-03-29 17:16] grabbou commented on #111
Oh, that's a good question. We shouldn't even check in pods group. I think it might be an issue when two or more groups with the same name are created. I'll try to reproduce it and send a fix.

[2016-03-30 06:52] grabbou commented on #111
@marcshilling that was indeed an issue, see PR linked ^ for a fix (will land today)

[2016-03-30 13:54] marcshilling commented on #111
Cool, thanks!

[2016-03-30 20:59] Mirodil opened #125 "is there any command unlink module"
is there any command unlink module?

[2016-03-30 21:07] Kureev commented on #125
`rnpm unlink <name-of-module>`

[2016-03-30 21:19] #125 closed

[2016-03-31 06:07] grabbou commented on #111
2nd thing is now released https://twitter.com/grabbou/status/715419502918414336. Please update rnpm and let me know :)

Also - re: @GantMan original issue - going to close this one for now since it looks like it's that xml issue. Let me know if that's it - if not, happy to reopen.

[2016-03-31 06:07] #111 closed

[2016-03-31 08:19] wzywno opened #126 "TypeError: Cannot read property 'children' of null"
Hi,
When I run  `rnpm link` I get
[code]

In my xcode project I had Libraries group before.
<img width="243" alt="screen shot 2016-03-31 at 10 18 44" src="https://cloud.githubusercontent.com/assets/1249754/14169775/084ae7e4-f72a-11e5-8d6d-b69cfa0b9415.png">

[2016-03-31 09:14] grabbou commented on #126
Hey, are you on the latest version? We have fixed that recently!

[2016-03-31 09:21] #126 closed

[2016-03-31 14:47] tttpeng opened #127 "rnpm link fails,no error message"
$ rnpm link
rnpm-link info Linking react-native-vector-icons android dependency
rnpm-link info Linking realm android dependency
$
Nothing happens after that message. I tried unlinking and it says its not linked yet.

$ rnpm unlink realm
rnpm-link info Unlinking realm android dependency
rnpm-link info Android module realm is not linked yet
rnpm-link info Unlinking realm ios dependency
rnpm-link inf

[2016-03-31 15:15] Kureev commented on #127
I'm working on this issue right now. I'll let you know when it'll be fixed. Sorry for this.

[2016-03-31 15:22] Kureev commented on #127
Issue is found. Going to roll out a hotfix in a 10 mins.

[2016-03-31 15:25] #127 closed

[2016-03-31 15:28] Kureev commented on #127
Updating `rnpm-plugin-link` to version 1.6.7 should fix the issue.

[2016-03-31 15:38] tttpeng commented on #127
thanks!!!

[2016-03-31 15:39] grabbou commented on #127
SLA :100:

[2016-03-31 22:32] GantMan commented on #111
@grabbou  it works now!  Thanks :)

[2016-04-02 02:21] ScandyMark opened #129 "Crashes attempting to parse Pods/Pods.xcodeproj/project.pbxproj"
while doing 'rnpm link NODE_MODULE_NAME' program crashes attempting to parse ios/Pods/Pods.xcodeproj/project.pbxproj   an xml file written by pod install

src/config/ios/findProject.js  findProject  gets a projects array
[ 'ios/Pods/Pods.xcodeproj',
  'ios/Scandy.xcodeproj',
  'ios/ScandyNative.xcodeproj' ]
[ 'ios/SCDOne.xcodeproj' ]
and goes with projects[0]

if all my debugging didn't mess thing

[2016-04-02 07:41] grabbou commented on #129
Hey,

Check out similar issue we had -> https://github.com/rnpm/rnpm/issues/111#issuecomment-202561638

BTW - shouldnt it select ScandyNative for instance?

[2016-04-04 14:46] ScandyMark commented on #129
some more info
$ pod --version
0.39.0

Main project is ios/Scandy.xcodeproj.  Wish I could tell more about the logic of the structure, but is something I am walking into, not something I set up on day 1.

[2016-04-04 16:58] cancan101 opened #130 "rnpm-link ERR! ERRPLIST Could not locate Info.plist. Check if your project has 'INFOPLIST_FILE' set properly"
I am getting:
[code]
even though I see: `INFOPLIST_FILE = myApp/Info.plist;`

[2016-04-04 18:17] grabbou commented on #130
Hm, that might be related to how the project is structured. Have you created it with `react-native init` or is it a custom set-up? Is linking working normally for all other dependencies? (I assume the only issue is when linking assets)

[2016-04-04 18:25] cancan101 commented on #130
I created initially with `react-native init`. I am using cocoapods so there is a workspace.

[2016-04-04 18:41] grabbou commented on #130
Does linking of other libraries work properly?

[2016-04-04 18:43] cancan101 commented on #130
I think so:

On Mon, Apr 4, 2016 at 2:41 PM, Mike Grabowski <notifications@github.com>
wrote:

[2016-04-05 01:57] L-Jovi opened #131 "rnpm link with pods may not work well"
I use latest release rnpm, and it works well.

but when I add pods which manage dependences of my project,  I find that all link from rnpm move to __Pods.xcodeproj__ project, like image below.

![screen shot 2016-04-05 at 9 47 19 am](https://cloud.githubusercontent.com/assets/7262199/14269113/2e2c35e2-fb14-11e5-82a6-59729f1d9437.png)

actually I couldn't use one of above two libs in my project eve

[2016-04-05 05:51] xing-zheng opened #132 "Feature request: modify info.plist file after linking"
After linking the react-native-plugin, In some case, we should modify info.plist to add config, such as permission requirement or LSApplicationQueriesSchemes.

It will be perfect if we can specify these config in the package.json file like:

[code]

[2016-04-05 06:22] grabbou commented on #131
Fixed in #128, getting released today!

[2016-04-05 06:22] #131 closed

[2016-04-05 06:23] grabbou commented on #129
Fixed in #128, thank you!

[2016-04-05 06:23] #129 closed

[2016-04-05 06:26] grabbou commented on #130
If you are using CocoaPods, please check if latest 1.5.5 release fixes it for you :)

[2016-04-05 06:27] grabbou commented on #132
That sounds good - might have time to work on that later this week! Happy to accept a PR - if anyone wants to start working on that, please let me know and I'll be more than happy to introduce you to the unknowns of the codebase and how it all works in general!

[2016-04-05 06:28] #117 closed

[2016-04-05 07:27] L-Jovi commented on #131
cool !

[2016-04-05 15:18] ScandyMark commented on #129
Verifying that this no longer crashes on me.  Thanks.

Having other trouble, will generate new issue in the unlikely event that I'm not the source of the other trouble.

[2016-04-05 15:19] grabbou commented on #129
Haha, ok! In case it's our fault - feel free to post an issue, some of the things are still hypothetical solutions we haven't covered fully yet :)

[2016-04-05 17:47] ScandyMark opened #134 "xcode quits unexpectedly after unlink"
rnpm link MODULE_NAME
open xcode
clear
build
rnpm unlink MODULE_NAME
open xcode   BOOM

Below is probably Too Much Information.  But basically showing that link followed by unlink is okay, but link followed by xcode activity followed by unlink is bad for me
[code]

[2016-04-05 17:57] ScandyMark commented on #134
Update: if I remove
[code]
and
[code]
xcode is not crashy again

[2016-04-05 18:34] Kureev commented on #134
cc @grabbou

[2016-04-05 19:20] grabbou commented on #134
Investigating, thank you for the diff.

[2016-04-05 20:08] grabbou commented on #134
Okay, finally fixed this! Will submit patch in the morning :)

[2016-04-06 08:04] cpunion opened #135 "Don't need to link projects in Sample/Example(s)"
Many react native libraries has a Sample/Example(s) folder and has iOS/android project in it(e.g. https://github.com/race604/react-native-viewpager), we don't need to link that projects.

Before https://github.com/rnpm/rnpm/commit/3b03abf39ad477554a5aa22f2f30146b1357d77a#diff-2683058bcad92e1272ec697fed36ba90R22 rnpm ignores Test/Example(s) folders, why remove that? I suggest add Test/Example/Sampl

[2016-04-06 09:43] Kureev commented on #135
We still have this check here: https://github.com/rnpm/rnpm/commit/3b03abf39ad477554a5aa22f2f30146b1357d77a#diff-2683058bcad92e1272ec697fed36ba90R40

[2016-04-06 09:44] Kureev commented on #135
Do you have any issues after that, @cpunion?

[2016-04-06 09:50] cpunion commented on #135
@Kureev Thanks. Could you please add `sample` into it?

[2016-04-06 10:23] Kureev commented on #135
Sure. But I'm a bit busy now, can't give you an ETA for this.
Probably, you can find some time to compose a PR? I would be glad to merge it 👍

[2016-04-06 10:39] cpunion commented on #135
@Kureev I will try.

[2016-04-06 11:14] grabbou commented on #135
Merged, thanks!

[2016-04-06 11:14] #135 closed

[2016-04-06 11:35] Kureev commented on #134
ping @grabbou

[2016-04-06 16:16] grabbou commented on #134
It's already patched, need to find some time for tests. Currently `unlink` breaks all Xcode installations. I am planning to release a patch around 21:30-22:15 GMT+1.

[2016-04-06 17:50] lostintangent commented on #132
If you end up doing this, could it be integrated with the new params feature in the link plugin? It would be really useful to add `Info.plist` entries whose value was actually source from user input.

[2016-04-06 17:54] lostintangent commented on #122
Any updates on this feature? This would be immensely useful for us (the CodePush team) as well!

[2016-04-06 19:25] grabbou commented on #122
I am mainly waiting for @appden feedback on that :) If he does not have enough time, I'll probably try bringing it over the weekend!

Would you guys mind sharing your potential use-case? Just so we can test some of them

[2016-04-06 20:22] ms88privat commented on #134
any news? it broke my xcode today too... but I got it fixed with git checkout and upgrading to 1.5.5. But now I can not link iOS anymore, only android works.

Thanks :+1:

[2016-04-06 20:36] grabbou commented on #134
This is already fixed, waiting to be merged by @Kureev and sending to npm! (note - you will have to have a clean `xcodeproj` - that means if it's breaking for you - either trying doing what @ScandyMark suggested or send me .pbxproj from xcodeproj folder to email and I'll double check).

[2016-04-06 20:36] grabbou commented on #106
Closing in favour of #134. This is fixed and getting shipped!

[2016-04-06 20:36] #106 closed

[2016-04-06 20:37] grabbou commented on #130
I think this is already fixed - if not - please reopen and we will check what's going on here :)

[2016-04-06 20:38] grabbou commented on #134
FYI here's the PR link https://github.com/rnpm/rnpm-plugin-link/pull/58

[2016-04-06 20:58] lostintangent commented on #122
The CodePush plugin depends on `libz` being linked to the app project. Right now, our entire iOS steps for installation are RNPM-based (and awesome!), but we still have to expect the user to manually link `libz` after running `rnpm link`. We could definitely do the `postlink` script to do this linking ourselves, but I would much prefer this proposal :)

[2016-04-06 21:17] grabbou commented on #134
Fixed in 1.6.0

[2016-04-06 21:17] #134 closed

[2016-04-06 23:51] cancan101 opened #138 "rnpm link react-native-vector-icons is hanging"
Whenever I run `rnpm link react-native-vector-icons` , the process hangs until i ctrl-c out. There is nothing printed.

I have `react-native-vector-icons@1.3.4`.

[2016-04-07 00:26] xing-zheng commented on #132
Sometimes, we should add keys to the info.plist, If we can do this by rnpm link params, It will be perfect:
[code]

[2016-04-07 02:28] cancan101 commented on #138
This seems to be an issue with rnpm 1.6.0. 1.5.0 works fine.

[2016-04-07 02:56] cpunion commented on #138
Same. +1

[2016-04-07 07:13] #138 closed

[2016-04-07 07:14] grabbou commented on #138
Fixed in 1.6.1.

[2016-04-07 09:49] grabbou commented on #132
Yeah, I think on iOS we will default to persisting user answers to Info.plist (maybe at some point we get them in `values/strings.xml` on Android as well)

[2016-04-07 10:00] grabbou commented on #77
I can't reproduce this - hopefully someone can jump in later and provide files we can reproduce!

[2016-04-07 10:13] xxsnakerxx opened #139 "[v1.6.0] possible EventEmitter memory leak detected"
When I run `rnpm link` I get error

[code]

And next nothing happens

My RN packages

[code]

`rnpm@1.5.5` works fine!!!

[2016-04-07 11:18] Kureev commented on #132
We will, but that's the next step.

[2016-04-07 11:23] Kureev commented on #139
Hi @xxsnakerxx! Which node version are you using?

[2016-04-07 11:26] xxsnakerxx commented on #139
Hi @Kureev! I'm using node `v5.10.1`

[2016-04-07 11:33] Kureev commented on #139
That's interesting, because it seems to be a known bug with inquirer for the old node environments: https://github.com/SBoudrias/Inquirer.js/issues/115

[2016-04-07 11:34] Kureev commented on #139
I'll try to reproduce your error today-tomorrow and give you some feedback about it. Thanks for reporting it!

[2016-04-07 19:04] ippy04 commented on #82
:+1:

[2016-04-07 21:56] cancan101 opened #140 "Support for Using Fork of React Native"
When using a fork of react native,`android/app/build.gradle` should be updated as:
[code]
rather than:
[code]

See: http://facebook.github.io/react-native/releases/0.23/docs/android-building-from-source.html#4-making-3rd-party-modules-use-your-fork

[2016-04-08 20:35] lostintangent commented on #122
FYI, since it's completely impact less to our users, I just went ahead and added the `ios/sharedLibraries` config to our `package.json` file so that when this feature is added, it will just light up. If you want, you could actually use `rnpm install react-native-code-push` as a test case for this feature, since the Xcode project wouldn't compile if you didn't manually link `libz` or this RNPM feat

[2016-04-10 19:22] grabbou commented on #140
@Kureev I can write you a function that will detect if user is using a forked React Native (true/false `isUsingForkedReactNative()`) and then, either you or @cancan101 could update build.gradle patch to run that function and update it.

[2016-04-10 19:25] grabbou commented on #132
Would you guys mind linking a few Readme's where you advise users to add some settings to Info.plist & then optionally reference that in their native code (params)?

Might implement that before next Saturday when we are going to speak about `rnpm`, but would love to get some input first.

[2016-04-10 19:28] grabbou opened #141 "Rename `params` to `android.params`"
I believe params we currently ask should not be top-level but platform specific because of the following reasons:
- It's tricky to not ask for iOS or Android params when one of these projects is not in user app if they are shared. E.g. if you have an array of 3 questions, two related to your dependency installation on Android and one related to iOS (soon) - if end user has only iOS app there's no

[2016-04-10 20:20] lostintangent commented on #141
This proposal makes a lot of sense to me!

[2016-04-10 20:34] lostintangent commented on #132
@grabbou If you take a look at the CodePush [iOS configuration](https://github.com/Microsoft/react-native-code-push#plugin-configuration-ios) docs, after the user adds the header import and changes how they load the JS bundle, there is a paragraph explaining how to update th Info.plist to add your key. Ideally, we could define a static name of the plist entry, and specify that the value would come

[2016-04-10 20:48] grabbou commented on #132
That's something I've been thinking about recently (maybe not 100% the same, but I think it's somehow similar), basically to allow modules declare some places where they want their code be inserted aka `spots`, so e.g you can append `[Intercom setupWithApp:@"${yourApiKey}" appId:@"${appId}"]` to `AppDelegate.m`. We could store these then the values in e.g. `Info.plist` (or put them inline).

[2016-04-10 20:49] grabbou commented on #132
What I like about `code-push` approach is that you guys automatically check Info.plist for settings (which unfortunately is not super common I imagine) - that greatly simplifies things since the only thing we have to do is to make sure we persist answers correctly

[2016-04-10 22:27] lostintangent commented on #132
@grabbou That sounds perfect. I'm excited to continue simplifying our setup :D

[2016-04-12 11:38] Kureev commented on #141
I actually think that we should keep `dependency.config.params` along with `ios.params` and `android.params`.

[code]
but I believe better user experience is worth the additional few lines in package.json that will only have to be defined once.

Okay, true that if we're talking only about LOC. But we're talking about polling these parameters as well. If library assumes that user use the same token

[2016-04-12 11:45] grabbou commented on #141
That makes it impossible to solve the point #2 from my original issue. And I think asking twice is OK - in most cases you are going to have a different value. Even if we are about to ask twice - I am ok with that.

[2016-04-12 11:53] Kureev commented on #141
I don't get how it makes your second point impossible:

The clear way to ignore linking process in general for missing part (i.e. if you have only Android, then iOS part would be completely skipped). The other thing is that you probably misread what I'm proposing: if you have 2 Android-specific params, you'll write them down in the `dependency.android.params` instead of having it in the `dependenc

[2016-04-12 11:56] grabbou commented on #141
Right, that is solvable, however I still don't like forcing people to define cross-platform value (because you can't predict whether that's going to be the case or not). If you have two questions (the same), one in Android, one in iOS polling for the same thing, we could suggest in the 2nd question the answer provided to the previous one (as a default value, hit enter to skip). That would work imo

[2016-04-12 12:02] Kureev commented on #141
I think that's a way more complicated solution than using 1 question for both platforms

[2016-04-12 12:05] Kureev commented on #141
All in all, I think that should be up to the module author to decide that kind of things. I see benefits that it can bring to developers and don't see any issues that it may cause.

So, what's your arguments against it?

[2016-04-12 12:08] grabbou commented on #141
Can you please double read what I said in last comment?

That's *exactly* pushing module author vision to the user. Whether it's shared or not should be always user responsibility.

[2016-04-12 12:18] grabbou commented on #141
Another thing is that `rnpm` is mainly a tool for scaffolding so I would expect more users to either not use `params` (since by the time of installing they do not even have all the tokens in place) or just to answer once with a placeholder (or the same value) for the sake of speed (which in fact, is still easy to edit later).

Keeping that in mind, I can potentially agree on leaving the shared, an

[2016-04-12 13:12] Kureev commented on #141
Yeah! And I'm always open to revisit this solution based on the user's feedback. I can be wrong, but for now it seems to be a smallest move that will bring us lots of value.

**So just to summarize what we discussed:**
- We introduce a platform-specific parameters for the accurate config;
- We introduce a common parameters that are intended to scaffold library correctly and/or setup a shared value

[2016-04-12 13:50] grabbou commented on #141
That's cool. Will require few updates in how we check for `isInstalled` before asking, but it's doable. Will submit a patch after we get rewritten android merged.

[2016-04-14 08:34] zhouhao27 opened #143 "How to copy images, videos into assets?"
I'd like to copy images, videos inside my **assets** folder into assets. How to do it ?

[code]

This doesn't work.

[2016-04-14 08:38] Kureev commented on #143
Can you name a library you're trying to link, please? These lines of code should be in the library itself, not in your project.

[2016-04-14 11:34] grabbou commented on #143
True.

There's no need to perform any extra actions in your project since you can do it manually.

However this is not the first request we receive and given it's super easy to implement (3 lines of code, iOS), I could consider doing that.

The importance of this feature might not be obvious if we think about things like images or videos, however I can see a point for automatically adding fonts to

[2016-04-14 11:51] zhouhao27 commented on #143
It's a good feature to copy assets file automatically because there is no need to use Xcode or Android Studio anymore.

[2016-04-14 12:33] Kureev commented on #143
@zhouhao27 sure, we do it automatically if library you're trying to link supports it. Otherwise there is no way to find which assets should be actually installed.

[2016-04-14 12:34] grabbou commented on #143
...unless we support `assets` on a project level ;)

[2016-04-14 12:56] Kureev commented on #143
@grabbou that means that all react-native modules should follow the same convention.

[2016-04-14 14:34] kennetpostigo opened #144 "Support multiple `xcodeproj` in a package (e.g. fbsdk)"
Does rnpm work with this:
[react-native-fbsdk](https://github.com/facebook/react-native-fbsdk)

It's facebooks package for their sdk

[2016-04-14 14:54] grabbou commented on #144
RNPM currently does not support multiple projects located in a single repository (that's the case I guess). Support to be considered.

[2016-04-14 14:55] grabbou commented on #143
Modules? We are talking about `projects` here - and as long as user can provide an array of assets in a config, I dont see any disadvantage here. This is mainly useful for automated fonts linking on iOS where it makes sense.

[2016-04-14 17:57] kennetpostigo commented on #144
Thank you for getting back so quickly. Do you by any chance know if there are any facebook sdk's that `rnpm` can automatically link?

[2016-04-14 19:20] grabbou commented on #144
I am not aware of any others (I mainly use login) - if you have any others you know - feel free to list them here so we can use them as our test cases

[2016-04-14 20:39] Kureev commented on #143
You mean add functionality that allow users to link their non-modules code?

[2016-04-14 21:37] grabbou commented on #143
As OP says - to link project assets (your project assets, not dependency assets).

[2016-04-14 22:19] Kureev commented on #143
I'm not quite sure if that should be in the scope of rnpm-plugin-link. Probably, we need to have something standalone for this purpose.

[2016-04-19 10:32] SudoPlz opened #145 "Rnpm creates RCTFBSDKCore under .xcodeproject eventhough its already installed through cocoapods. How to stop it?"
I'm installing using the https://github.com/facebook/react-native-fbsdk library and I'm installing it by using cocoapods. It installs and runs just fine. But when I run `rnpm link` I see a new project under <MyAppName>/Libraries/RCTFBSDKCore getting created. That ruins my build and it fails, because RCTFBSDKCore is already installed as a pod in my xcodeworkspace.

I don't want rnpm to take into ac

[2016-04-19 11:28] grabbou commented on #145
Hm, that's a good question actually!

We do not check stuff added by CocoaPods, there should be definitely either a way to ignore some dependencies when you run `rnpm link`. Another suggestion (for now) is to run just `rnpm link xyz` or `rnpm install xyz`.

[2016-04-19 11:31] SudoPlz commented on #145
Hmm I'll just leave that link here in case someone wastes time trying to figure why he gets `Xcode - ld: library not found for -lRCTFBSDKCore`: [](http://stackoverflow.com/a/36717063/1658268).

Rnpm links the Libraries and adds their .a files in the build phase of your project. I had to remove all the .a files added by rnpm link to get my project working again.

[2016-04-19 11:38] grabbou commented on #145
Or you can just use `rnpm unlink` :)

[2016-04-19 11:40] SudoPlz commented on #145
That would be nice but I've got fonts and assets that I still want and `rnpm link` did a great job for that. I just don't want the libraries  :) If `rnpm unlink` only removes those but not the fonts and assets then that would be ok.

[2016-04-19 11:42] grabbou commented on #145
But `rnpm unlink` accepts a mandatory library name to remove - AFAIK there are no fonts added by fbsdk so should be good!

However, I would suggest just using `rnpm link <name>` instead or `rnpm install <name>` (rnpm link w/o name is just a quick shortcut that does not work in all cases, as per your issue!). I think until we fix that, it's the best approach

[2016-04-19 11:43] SudoPlz commented on #145
Fair enough, thanks for all your great work till now!

[2016-04-20 14:26] plrthink commented on #122
I have the same use case. I am making [react-native-zip-archive](https://github.com/plrthink/react-native-zip-archive) package which also needs `libz` to be linked after user running `rnpm link`.

This feature is definitely useful for this module.

[2016-04-20 14:51] grabbou commented on #122
cc: @alloy

[2016-04-22 16:59] Secretmapper commented on #143
I think being able to link project level assets like these would be an awesome feature for rnpm as @zhouhao27 said it would remove the need to manually copy assets to the app IDEs.

However, isn't this what was fixed by https://github.com/rnpm/rnpm/pull/40 ? It seems that my fonts are being linked because of 40.

Assets other than fonts would be great too (though I'm not really sure why it doesn't

[2016-04-23 11:07] miqmago opened #146 "ENOENT for commands-prelink"
I would like to contribute to this react native plugin https://github.com/yamill/react-native-orientation. Maybe it's not the correct approach and if there is a better one I would like to know it as well (as there may be some usefull commands similar to `packageInstance` but I can't see in documentation):

It needs to modify MainActivity.java and insert this piece of code:

[code]

I've tried to m

[2016-04-23 19:21] Kureev commented on #146
Hi @miqmago!

Strange to see this output. This code snippet
[code]
should invoke `./rnpm/prelink`, not `./rnpm/prelink.js`, but in your output I see that rnpm tries to spawn `prelink.js`, that confuses me a bit. First of all try to add `.js` to `./rnpm/prelink` path and let me know if that helps.

P.S. Don't forget to add executable rights to this file (`chmod +x ./rnpm/prelink.js`).

[2016-04-23 19:30] miqmago commented on #146
@Kureev I had already tried with `.js` extension with same result.
Also ls for rnpm:

[code]

[2016-04-23 19:39] miqmago commented on #146
Hmm... That made me think. This is an npm module so I'm executing rnpm from project path. I've made some tests and it seems that it is a path issue: tried to place relative path to project (and full path with same result) in package.json and the result is this one:

[code]

[code]

It seems to find the file, the problem here is what if user changes the location of `node_modules`? (It will break).

[2016-04-25 06:09] Kureev commented on #146
Well, what you see here is that your script exits with error code.

The problem is in the script itself. Can you post a script you're trying to run?

[2016-04-25 07:52] miqmago commented on #146
@Kureev the script is the test initial one:

[code]

Also tried to remove initial console.log

[2016-04-25 08:15] Kureev commented on #146
You need to add
[code]
in the head of your file if you want to make it executable like this.

[2016-04-25 08:23] grabbou commented on #146
@miqmago once you sort it out, would you mind sending a PR to improve the docs?

[2016-04-25 09:01] miqmago commented on #146
@grabbou Sure to make a PR when I have the knowledge :smile:
@Kureev Thanks, that seems to work.

I need little more help: right now it gets executed as a plain javascript file, not as a module, is it right?  In that case, how can I access to project files? (meaning MainActivity.java, Info.plist, etc...)
This script file seems to me a little bit like (let me introduce our old friend) cordova hooks

[2016-04-27 02:15] sibeliusseraphini opened #147 "ReferenceError: pjson is not defined"
[code]

I'm receiving this error on node 6.0.0 with the latest version of rnpm link

[2016-04-27 11:06] #147 closed

[2016-04-27 15:37] holmescn opened #149 "findPlugins raise exception in node v6.0.0"
rnpm 1.6.2, node v6.0.0, findPlugins.js:16. The const pjson is defined in try block, so it become undefined in the block after the try-catch. I rewritten it in:

    const findPluginInFolder = (folder) => {
      let  pjson;
        try {
          pjson = require(path.join(folder, 'package.json'));
        } catch (e) {
          return [];
        }

        const deps = union(
        Object.ke

[2016-04-27 15:39] grabbou commented on #149
^_^

[2016-04-27 15:39] #149 closed

[2016-04-27 16:03] miqmago commented on #146
Any help with this?

[2016-04-28 12:54] grabbou commented on #144
(Most likely we just link the first project we have found which is `fbsdk-core`. Can be solved with an array to be accepted, will try to tackle this later this week as there's also @knowbody affected and others)

[2016-04-28 12:55] knowbody commented on #144
awesome, thanks!

[2016-04-29 15:33] almasakchabayev commented on #147
Can you release a new version please. I keep getting this error. Thanks

[2016-04-29 15:35] sibeliusseraphini commented on #147
@almasakchabayev you can do this for now:

[code]

You will also need to do this to with https://github.com/rnpm/rnpm-plugin-link

[2016-04-29 15:37] grabbou commented on #147
@almasakchabayev AFAIK @Kureev is planning to do a release today (Alexey - if you dont have time then let me know and I'll just send patch to rnpm itself)

[2016-04-30 13:39] michaeljgilmore commented on #147
@grabbou eager to get this fix as well.

[2016-04-30 13:42] michaeljgilmore opened #150 "pjson is not defined"
/usr/local/lib/node_modules/rnpm/src/findPlugins.js:22
    Object.keys(pjson.dependencies || {}),
                ^

ReferenceError: pjson is not defined
    at e (/usr/local/lib/node_modules/rnpm/src/findPlugins.js:22:17)
    at Array.map (native)
    at findPlugins (/usr/local/lib/node_modules/rnpm/src/findPlugins.js:35:31)
    at getCommands (/usr/local/lib/node_modules/rnpm/src/getCommands.js:

[2016-04-30 13:51] grabbou commented on #150
Fixed in 1.6.4

[2016-04-30 13:51] #150 closed

[2016-04-30 13:55] grabbou commented on #147
It's already in npm :)

[2016-05-01 04:25] hassankhan opened #151 "Add uninstall option for completeness"
A `rnpm uninstall` command that unlinked and uninstalled would be great for completeness' sake.

[2016-05-02 07:30] dzhuowen commented on #144
It'll be great if rnpm can support react-native-fbsdk! We stick with the package pattern of [native facebook sdk](https://github.com/facebook/facebook-ios-sdk) intentionally and don't have plans to restructure it.

[2016-05-02 07:30] dejakob opened #153 "Settings.gradle: add include on new line"
When linking with npm and having multiple dependencies `include '***'`will be on the same line as the last project.
It should be on a new line.

[2016-05-02 11:27] grabbou commented on #144
I think the first step to allow us linking fbsdk would be to add react-native to header search paths, so that we can link it without CocoaPods (the `rnpm` way) and later, to figure out how FBSDK would be installed (open ticket for native dependencies). Even if we implement linking of multiple projects (array), it won't work because of that.

[2016-05-02 11:34] grabbou commented on #151
Good idea! Will be implemented with https://github.com/rnpm/rnpm-plugin-install/pull/1

[2016-05-02 12:52] #153 closed

[2016-05-02 16:42] gnestor opened #154 "Command to include frameworks?"
I created a native module that depends on AudioToolkit.framework and Foundation.framework. Is it possible to use rnpm to add these frameworks to an Xcode project? Here are my [current installation instructions](https://github.com/gnestor/react-native-silent-switch#install):

* Install: `rnpm install react-native-silent-switch`
* Add AudioToolbox.framework and Foundation.framework to your project

[2016-05-03 01:58] holmescn opened #155 "try-catch problem not completely solved."
Perhaps since node v6.0.0, there are more strict syntax check about the variable scope. Last time I commit two issues that about variables defined in try-catch block and used later. But it seems there are more problems about this issue. Someone should go through the entire code to check this problem:
[code]

[2016-05-03 08:27] Kureev commented on #155
We already moved this declarations out. Check out the newest version 😉

[2016-05-03 11:11] grabbou commented on #155
Fixed in latest version, thanks for reporting! I think these are the last ones ;)

[2016-05-03 11:11] #155 closed

[2016-05-03 11:12] grabbou commented on #154
I am working on it as a part of #122, thanks for your use-case, helps a lot when making an interface ;)

[2016-05-03 11:12] #154 closed

[2016-05-03 11:13] grabbou opened #156 "Update `xmldoc`"
Waiting for release notes https://github.com/nfarina/xmldoc/issues/35

[2016-05-03 11:14] grabbou commented on #139
Did you have any luck with reproducing it? I didn't. I think it's wise to close this as it's non-rnpm issue and optionally re-open the inquirer ticket if it's still the case.

[2016-05-03 11:24] grabbou commented on #132
I am on this feature in the upcoming week! Sorry for the delay, but been quite busy with other things, I am going to have two takes on that:
1) Params to `Info.plist` (@lostintangent - I think you can read them directly from within your code, by just querying mainBundle, right? We don't need to pass you anything extra as on Android)
2) Arbitrary values to `Info.plist` - These are not params, but t

[2016-05-03 11:27] grabbou commented on #143
@Secretmapper

Generally `rnpm` just exposes assets and `link` plugin decides which types to handle (and we filter by type to get fonts there). Since on iOS you can handle all the other things by just requiring them and fonts seem to be a specific case, we didn't add anything extra yet. If you'll have another idea what else we can support here - please open an issue.

The OP issue seems to be alre

[2016-05-03 11:28] grabbou commented on #82
Another use-case - writing Unit tests (creating a target for tests) where you want to link something. Currently not supported. You should be able to pass in a target name as an argument, e.g. `rnpm link --targetIOS ABC`.

This is in progress.

[2016-05-03 15:49] gnestor commented on #122
@appden How were you able to link frameworks using rnpm? I have tried linking the frameworks in my library and then rnpm linking the library to my project, but I still have to manually link the framework to my project.

@grabbou Assuming this upcoming feature supports linking frameworks, should package.json theoretically look like:

[code]

[2016-05-03 15:54] appden commented on #122
@gnestor we have a `postlink` script that looks like [this](https://github.com/realm/realm-js/blob/master/scripts/rnpm-postlink.js). I'm curious why you found you needed to manually link frameworks? There is an option in Xcode that is enabled by default called `Link Frameworks Automatically` that should automatically do this for you. Here's a description of that feature:

[2016-05-03 16:01] gnestor commented on #122
@appden Good find! This feature seems to be enabled by default so that solves my problem!

[2016-05-03 16:11] gnestor commented on #143
I have a single audio file (mute.caf) that needs to be copied into the project (via "Copy Bundle Resources") in order for my library to work properly. I tried including the audio file in the library group, adding it to the library's "Copy files" build phase, and adding the following the library's package.json:

[code]

However, `rnpm link react-native-silent-switch` doesn't copy the audio file ove

[2016-05-03 20:18] dzhuowen commented on #144
Make sense! And we can create rnpm fbsdk plugin for this.
Adding the header search path will be easy but handling the dependency of FBSDK can be really messy IMHO.

[2016-05-04 05:40] lostintangent commented on #132
@grabbou Yep, the CodePush plugin already reads from the main bundle's Info.plist at runtime, so if RNPM could write key/value pairs to it after linking, with the key being specified by the plugin (e.g. "CodePushDeploymentKey"), and the value coming from the user input, that would be perfect.

As soon as you have a good idea of what the package.json config will look like for this, I'll update our

[2016-05-04 08:17] xxsnakerxx commented on #139
Hi! I can't reproduce it too.
`rnpm 1.7.0`
`node 6.0.0`

[2016-05-04 11:29] Kureev commented on #139
I wasn't able to reproduce it :(

[2016-05-04 11:29] Kureev commented on #139
So, if nobody can reproduce it anymore, I propose to close it.

[2016-05-04 11:29] #139 closed

[2016-05-04 13:50] Kureev commented on #132
Can I help you guys solving this issue?

[2016-05-04 22:50] LeBlaaanc opened #157 "How do I link the correct library?"
Sorry if this is documented somewhere and I missed it. I have a project that is linking the wrong libraries `libStreamingKit.a` and `libStreamingKitMac.a` instead of `libRNStreamingKit.a`. Could anyone assist or PR with the proper way to do this? Thanks so much.

[https://github.com/LeBlaaanc/react-native-streamingkit](https://github.com/LeBlaaanc/react-native-streamingkit)

[2016-05-05 00:46] deoqc commented on #145
I postponed installing react-native-fbsdk because couldn't figure out how to do it without cocoapods and didn't want to add this complexity, especially when the rnpm solution works perfect.

Is there a way to use rnpm in a case like this or have (at least for now) resort to cocoapods?

[2016-05-05 07:29] grabbou commented on #145
In case of `fbsdk` you unfortunately have to use CocoaPods. In all other cases, I believe we should be able to figure it out :)

[2016-05-05 07:34] grabbou commented on #157
Hey, interesting. Isn't that because we detect StreamingKit.xcodeproj instead of your RNStreamingKit one?

Try adding:
[code]

[2016-05-05 14:41] LeBlaaanc commented on #157
I'll give this a go, can I PR a documentation update to include this to help out? I noticed the assets thing and figured it was something similar and your suggestion confirmed.

[2016-05-05 17:58] dzhuowen commented on #144
@grabbou What's your plan to implement this?
It seems that considerate amount of changes is required (support linking multiple xcodeproj, link Facebook iOS SDK framework). I think it's much easier to create a rnpm-plugin specific to linking react-native-fbsdk.

[2016-05-05 18:58] grabbou commented on #144
I'll try to implement nested paths today so that you can link a specific folder inside a package:
[code]
and that should be all on our side :)

[2016-05-05 19:12] grabbou commented on #144
Ok, turns out the implementation took 10 minutes, just to avoid an error from missing `json` in a nested folder. Apart from that it seems like an amazing undocumented feature 💃

[2016-05-05 19:15] grabbou commented on #144
@dzhuowen the structure inside `fbsdk` should be actually (imo):
- core/ios|android
- login/ios|android

So that you can `rnpm link react-native-fbsdk/core` and have both platforms linked. Currently you'll have to run it twice.

[2016-05-05 19:31] grabbou commented on #157
Sure, feel free! Docs are always welcome :)

[2016-05-05 19:31] grabbou commented on #151
It's there!

[2016-05-05 19:31] #151 closed

[2016-05-05 19:41] hassankhan commented on #151
Cheers dude!

[2016-05-05 21:42] #144 closed

[2016-05-05 21:44] Kureev opened #159 "Support `rnpm install` for dependencies with multiple iOS/Android modules"
Currently, we can use `link` command to install a specific native module:
[code]
But it seems that
[code]
wouldn't work. We have to find a way how we can support this.

[2016-05-05 21:44] Kureev commented on #159
cc @grabbou

[2016-05-05 21:47] Kureev commented on #145
Is this one solved by #158?

[2016-05-05 22:18] grabbou commented on #144
(this is closed as on our end it's done - please keep discussion so that we can think what's the best interface to use this feature on fbsdk side :) )

[2016-05-05 22:22] grabbou commented on #159
Good idea!

Maybe we should check if a name is a sub-project and if yes - install the outer one (all the things), but link the scoped one?

In this case, the `rnpm install` would just `npm install react-native-fbsdk`.

Note: We have to make sure that this `@exponent/name` is a valid top-level.

[2016-05-06 07:42] Kureev commented on #159
I have no private npm organizations to test `@domain/repo` pattern, can you add me to some, @grabbou ?

[2016-05-06 10:22] grabbou commented on #159
Okay, I'll push a dummy iOS/Android under a fake name for the sake of testing :)

[2016-05-06 18:32] dzhuowen commented on #144
Awesome.
I will investigate the Android side for package reorganize.
But too bad this is not the end of setup.. react-native-fbsdk depends on Facebook-iOS-SDK framework. So we still need to link Facebook-iOS-SDK to the project.

[2016-05-06 18:36] dzhuowen commented on #144
Current solution is manually linked the Framework.
Not sure if rnpm can do anything here.

[2016-05-06 18:40] grabbou commented on #144
Yeah, we have that in plans and should land this month. For now, the only way is to follow the manual setup (more advanced users can probably just download FBSDK through CocoaPods, the rest should be fine with embedding it inside `vendor` folder that I've seen quite a few times already).

I am still experimenting with Carthage in my projects to see if we can fit it into the pipeline (there's also

[2016-05-10 07:16] jdeniau opened #160 "Copy all assets (not just fonts) ?"
Hi,

I just discovered the `assets` possibility, but it seems that it only copy fonts assets.

Why did it not copy other assets types (images, sounds, etc.) ? Is there something I did not understand ?

Thank you

[2016-05-10 17:25] grabbou commented on #160
Hey,

Well, you don't need to copy other assets types since you can just require them with the standard syntax, so there's no need to do anything extra.

The `copyAssets` part of `rnpm` is intended to handle special cases, like fonts (in fact, we only copy them on Android since on iOS, there's no need and we can just reference them from another location).

[2016-05-10 17:30] jdeniau commented on #160
Ok, my problem was for launchscreen and stuff like that on ios, but I will investigate further on how to use assets that are not present in Xcode project to do so.

Thank you !

[2016-05-10 17:30] #160 closed

[2016-05-10 19:52] cyphire opened #161 "It seems something went wrong while linking. Error: spawn UNKNOWN"
Followed instructions for installing realm.  When running 'rnpm link realm' following occurred:

[C:\Users\bcanin01\workspace\react\authentication]rnpm link realm
rnpm-link info Linking realm android dependency
rnpm-link info Android module realm has been successfully linked
rnpm-link info Linking realm ios dependency
rnpm-link info iOS module realm has been successfully linked
rnpm-link ERR! It s

[2016-05-10 20:03] grabbou commented on #161
I think it's the issue with their command, @Kureev looks like maybe there was a breaking change in the interface? (seen few other issues re: that)

[2016-05-10 20:04] grabbou commented on #160
Awesome :) good luck!

[2016-05-10 21:35] LeBlaaanc commented on #157
@grabbou I gave this a go today. No luck :(

[2016-05-10 22:02] LeBlaaanc commented on #157
I attribute this to my lack of experience with building xcode projects. From what I can tell I needed to "link binaries" under "build settings" instead of just dragging the StreamingKit.xcodeproj, also add to header search paths the library location. Should be all good, the package.json addition is unneeded once it it linked properly.

[2016-05-10 22:02] #157 closed

[2016-05-11 23:15] LeBlaaanc opened #163 "It seems something went wrong while linking. Error: Expected "/*", "//" or "{" but "<" found"
I'm not sure where to start to troubleshoot this... my package.json looks okay?

[2016-05-11 23:20] LeBlaaanc commented on #163
Figured it out, something that was in my node_modules giving it an issue.

[2016-05-11 23:20] #163 closed

[2016-05-12 00:04] grabbou commented on #163
Try opening your project with Xcode. Sometimes your project gets converted to xml (typically by CocoaPods) and needs to be reopened with Xcode so it converts it automatically to the format we can parse.

[2016-05-12 16:15] jdeniau opened #164 "MainActivity.java: custom patching"
Hi,

Sorry if it's already possible but I did not find anything on how to do it.

Some packages have specific patch to apply in `MainActivity.java` (and maybe the same for ios ?).

For example [this project](https://github.com/gijoehosaphat/react-native-keep-screen-on#in-mainactivityjava-add-the-following-lines) needs to pass `this` as a parameter, but rnpm will do this:
[code]

Is it possible to

[2016-05-13 03:26] Kureev commented on #161
![image](https://cloud.githubusercontent.com/assets/2273613/15237094/e94e7bc8-1905-11e6-9a1b-6ac21bc1288c.png)

[2016-05-13 03:34] Kureev commented on #164
Hey @jdeniau,

I've already answered similar question: https://github.com/rnpm/rnpm/issues/115#issuecomment-200249027

[2016-05-13 03:34] #164 closed

[2016-05-13 03:36] Kureev commented on #161
I think it's related to Realm itself.

But to be safe, please, provide us you versions of:
- realm-js
- rnpm
- rnpm-plugin-link

and we'll try to investigate this.

cc @appden

[2016-05-13 03:46] Kureev commented on #77
Well, we made quite a lot of work on this (I reworked Android link algorithm and @grabbou explained how to link fb sdk (see https://github.com/rnpm/rnpm/issues/144)). Can we close this one, @DVassilev?

[2016-05-13 03:47] Kureev commented on #29
What's the status of this one?

[2016-05-13 03:58] Kureev commented on #146
Yes, correct.
Well, unfortunately, we don't provide anything for managing these files. It's just a script. Similar to `npm scripts`. You can take a look how realm guys do it: https://github.com/realm/realm-js/blob/master/scripts/rnpm-postlink.js

Nope, not yet. Theoretically, rnpm should cover all common cases for linking native deps (like native deps etc). Hooks has been designed to allow library

[2016-05-13 03:58] #146 closed

[2016-05-13 06:15] appden commented on #161
Admittedly, we have not done any testing on Windows yet, so it very much could be an issue with Realm. I'm curious though if `rnpm` should even try to link iOS stuff on any non-Mac platform?

As for the error itself, I googled `spawn UNKNOWN` and it seems pretty common for issues with running Node modules on Windows, but nothing popped out to me as the obvious answer for this.

@Kureev That's the

[2016-05-13 06:23] jdeniau commented on #164
Oh great thank you, I did not found that :)

[2016-05-15 23:51] gnestor commented on #143
@grabbou @Kureev Is it possible to copy an audio file to a project's bundle using rnpm?

[2016-05-16 06:36] grabbou commented on #143
Hey @gnestor, I think if your project uses it internally (your module) - you can just add it to the project by clicking `Add files to project` from the left Xcode sidebar (just like adding any other file) and then, add a Build Phase - Copy bundle resources inside your project manually. Is that not working?

Fonts are a special case because we need to add them to `Info.plist` as well.

[2016-05-16 15:25] gnestor commented on #143
@grabbou Nice!

[2016-05-16 16:55] grabbou commented on #143
PR submitted, waiting for @Kureev review. Tested with `mp3` file and all seems to be working well ;) Not sure about Android part, might need a follow up from Alexey (if you group by types - if you just copy, then it's probably fine).

Feel free to ship it right after, I'll be offline for the 2nd part of the day

[2016-05-17 08:09] Arthraim opened #165 "RNPM found a wrong project"
Hi, guys

For some reasons, we have other projects in `RN_REPO/ios/dependencies`. Since `findProject.js` easily pick the first one of all found projects, it actually link changes to a wrong project.

I'm thinking can we at least add an argument to allow user to specify project file such as
[code]
or, can we say the deeper the .xcodeproj file placed the fewer chances it will be the right one?

[2016-05-17 08:41] grabbou commented on #165
Hey,
You can add:
[code]
to your package.json to bypass the `xcodeproj` glob.

PS. It works for both dependencies and projects as well.

[2016-05-17 10:34] Arthraim commented on #165
Great, didn't notice. Thanks! @grabbou
Closing this :D

[2016-05-17 10:34] #165 closed

[2016-05-18 03:14] DVassilev commented on #77
@Kureev I stopped using it. I'll attempt to make use of it on my next project and will let you know how it goes.

[2016-05-18 12:58] Kureev commented on #77
Ok, closing for now

[2016-05-18 12:58] #77 closed

[2016-05-19 03:49] simman opened #166 "Maximum call stack size exceeded"
rnpm-link info Android module @remobile/react-native-toast is already linked
rnpm-link ERR! It seems something went wrong while linking. Error: Maximum call stack size exceeded
Please file an issue here: https://github.com/rnpm/rnpm/issues

[2016-05-20 03:40] #166 closed

[2016-05-20 23:07] dzhuowen commented on #144
react-native-fbsdk 0.2.0 is up. We've switched to one single iOS project b/c for now setup simplicity is more important than flexibility :-). [react-native-fbsdk/issue119](https://github.com/facebook/react-native-fbsdk/issues/119).

[2016-05-21 01:59] ZhangBanger opened #167 "rnpm link grpc does not handle native transitive deps"
After linking the node `grpc` lib, I'm still getting
[code]
after the import / require

[2016-05-23 02:39] alexleventer opened #168 "It seems something went wrong while linking. Error: buildSettings.LIBRARY_SEARCH_PATHS.push"
└── react-native-fbsdk@0.1.0

rnpm-link info Linking react-native-fbsdk ios dependency
rnpm-link ERR! It seems something went wrong while linking. Error: buildSettings.LIBRARY_SEARCH_PATHS.push is not a function
Please file an issue here: https://github.com/rnpm/rnpm/issues
rnpm-link info Module react-native-fbsdk has been successfully installed & linked

[2016-05-23 02:40] alexleventer commented on #168
v1.7.0

[2016-05-23 12:31] Kureev commented on #168
cc @grabbou

[2016-05-23 14:44] kvieira90 commented on #130
Having this same issue after modifying the Info.plist file. I've looked at my file side by side with a brand new project and they're identical so not sure why a edit would cause RNPM link to fail

[2016-05-23 18:32] grabbou commented on #168
Interesting, as always in that case, mind sending me your `project.pbxproj` from inside your `.xcodeproj` via email? It doesn't contain any sensitive information (like keys and passwords) so I can use it as a reproduction.

Fix is easy, but need to understand `why` it happens as that's originating from `node-xcode` lib.

[2016-05-23 20:28] Giszmo opened #169 "Can't find MainActivity.java (is it looking for MainActivity.kt?)"
Updating rnpm from 1.5.3 to 1.7.0 and runing `rnpm link` results in localization being added to the android folder and then it errors out, complaining about MainActivity.java not being found. We do have a `MainActivity.kt` though.
Prior version does not complain.

[2016-05-23 20:37] grabbou commented on #169
I am not sure if our patches support `kotlin`. @Kureev

[2016-05-24 08:27] Kureev commented on #169
Not yet, but sounds like a good improvement. Can you make an example how a patch should looks like, @Giszmo ?

[2016-05-24 10:09] grabbou commented on #130
Are you sure you are getting the same error message? Do you use CocoaPods?

[2016-05-24 14:37] kvieira90 commented on #130
I was, I ended up scrapping the entire repo and starting over without touching the info.plist from my editor. All set now but was a weird issue

[2016-05-24 15:52] Giszmo commented on #169
Actually I hesitated reporting this issue, as I'm hunting a different issue and used `rnpm link` before having any clue what it actually did, just to observe the changes to the `node_modules` folder that might stem from it. @andrewtoth might have more insight into what a patch might look like (or if we should go back to using `.java` in our project).

[2016-05-25 08:50] magrinj commented on #166
@simman you find why ?

[2016-05-25 09:50] Kureev commented on #169
Don't hesitate to report issues! That's a really good one. I'm ready to pick it up when I'll have more info about it (like desired patch flow, etc).

[2016-05-25 15:12] simman commented on #166
yeah，I manually remove the xcode project depends on, and then re-use RNPM link.

[2016-05-25 16:24] magrinj commented on #166
Ok thanks, I find the solution just after my message and I do the same :)

[2016-05-25 21:50] bsy commented on #168
running into the same issue with `react-native-fbsdk@0.2.0`, any update on this yet @grabbou ?

[2016-05-25 21:51] alexleventer commented on #168
My issue was w/ `react-native-fbsdk@0.2.0` too

[2016-05-26 09:47] grabbou commented on #168
Yup, I've received the `pbxproj` and I am working on a fix today.

[2016-05-26 18:13] grabbou commented on #168
Turns out the `pbxproj` I've received belongs to other issue request, anyone from this topic mind sending it over to me? My email is listed on my profile, or just add `@gmail.com` to my handle.

[2016-05-26 18:14] grabbou commented on #167
Mind providing a bit more details? Is `grpc` a react-native plugin that you are trying to link or just a normal module?

[2016-05-26 20:13] ZhangBanger commented on #167
I just realized that rnpm is dealing with iOS/Android native modules, not node modules with native components - my mistake!

[2016-05-26 20:13] #167 closed

[2016-05-27 08:53] tonyxiao opened #170 "How to build a library that can be linked with rnpm?"
I can't find any docs on this anywhere. But how do I build a library that can can be consumed via `rnpm`?

[2016-05-27 13:46] alexleventer commented on #168
Sorry for the delay. Sent @grabbou

[2016-05-27 14:07] Kureev commented on #170
Hey! Most of the libraries can be linked with rnpm "by default", you don't need to perform any additional steps.

[2016-05-27 14:08] Kureev commented on #170
There are few exceptions (like if you want to link fonts), but they are all described in the readme.

[2016-05-27 22:46] grabbou commented on #170
Yup, as long as you have `xcodeproj` in your library and `android` folder, we will work it automatically.

[2016-05-27 22:48] grabbou commented on #168
Thanks, now I've finally tracked down the problem to this line: https://github.com/alunny/node-xcode/blob/master/lib/pbxProject.js#L1146

It only checks if the value is `$(inherited)`. In case of your `pbxproj`, it's other string value which makes it break. I'll send a patch to `node-xcode` to work with that case tomorrow and hopefully we ship it soon

[2016-05-27 22:50] alexleventer commented on #168
Sweet thanks @grabbou

[2016-05-27 23:04] grabbou commented on #168
PS. If you can just prepend all your in-project `library search paths` with `$(inherited)`, that should fix the issue temporarily.

[2016-05-28 00:38] tonyxiao commented on #170
Whoa that's pretty magical. Where do I look under the hood to understand how the magic works?

[2016-05-28 02:08] alexleventer commented on #168
@grabbou what do you mean by in-project?

[2016-05-28 02:21] alexleventer commented on #168
I'm running into the following issue when I prepend `$(inhertied)`: ```ld: 773 duplicate symbols for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)```

[2016-05-28 16:00] grabbou commented on #170
Check this file https://github.com/rnpm/rnpm/blob/master/src/config/index.js and just follow the referenced functions :)

[2016-05-29 20:12] grabbou commented on #168
Fix submitted to node-xcode: https://github.com/alunny/node-xcode/pull/96

[2016-05-29 20:33] #143 closed

[2016-06-02 05:50] gnestor commented on #143
I tested my use case wit the most recent version of rnpm but it's still not copying the file listed in package.json to my Xcode project.

package.json
[code]

I'm expecting mute.caf to be copied to my bundle ("Copy Bundle Resources").

[2016-06-02 09:49] voidException commented on #170
on the iOS  platform rnpm  just  let the  project know your library, so your library  cant find the React Native  header  files, you should  link  by hand,
http://reactnative.cn/docs/0.26/linking-libraries-ios.html#content

[2016-06-05 20:36] tonyxiao commented on #170
Found this in `react-native-code-push`'s repo `package.json`. Seems that library authors can choose to interact with `rnpm`. Where is this documented?
![image](https://cloud.githubusercontent.com/assets/696842/15808042/50cc1304-2b22-11e6-9a9b-bbc4f4a3ef24.png)

[2016-06-05 22:31] Kureev commented on #170
Not all of them. I'm planning to improve rnpm's docs section once we finish merging it into react-native

[2016-06-05 22:38] grabbou commented on #170
Here https://github.com/rnpm/rnpm#params. For now, only `packageInstance` is supported as a param. We haven't found any other good places yet, so feature requests welcome :)

[2016-06-06 07:47] bradennapier commented on #147
still broken?
[code]

[2016-06-06 08:29] grabbou commented on #147
No, it's not :) https://github.com/rnpm/rnpm/blob/master/src/findPlugins.js#L15-L17

Please update to latest.

[2016-06-06 08:40] bradennapier commented on #147
I installed it 5 minutes before posting?

[2016-06-06 08:52] Kureev commented on #147
Which version are you using, @bradennapier?

[2016-06-06 08:55] Kureev commented on #147
You have a problem with `pjson`, @bradennapier ?

[2016-06-06 08:58] bradennapier commented on #147
I did until I realized above that the file I had was up to date which made no sense - realized it was loading system version rather than nvm version so had to force uninstall system version.  Works now!  Thanks!

[2016-06-07 17:40] cyphire commented on #161
Sorry - should have gotten back sooner, must have been an environmental issue, closing.

[2016-06-07 17:40] #161 closed

[2016-06-10 08:43] Secretmapper opened #173 "Doesn't work for transitive dependencies?"
I'm writing a module (A) that requires another module (B). B has assets installable by `rnpm link`.

If I as an app author use module (A), running `rnpm link` doesn't seem to install the assets of B. Perhaps a workaround right now is to simply install B's native dependencies explicitly, but just wondering if this is intended behaviour.

[2016-06-10 09:31] Kureev commented on #173
Hi @Secretmapper! If you're talking about native dependencies, you're right. We don't provide this functionality yet (but we have an intention to implement it). Currently, you can make a `postlink` hook (see README) which will run an installation process for your dependencies.

[2016-06-10 09:54] grabbou commented on #173
Yeah, that's how it works for now, mainly because module `B` should be linked with project `A` and that's how it's done in most cases if I am not wrong (iOS). With Android, `gradle` will handle all these things for us anyway.

[2016-06-10 10:32] Kureev commented on #173
I think there's nothing bad in using `postlink` hooks for these purposes

[2016-06-10 11:18] Secretmapper commented on #173
Hello guys, thanks for the quick feedback!

What was actually weird was I tried adding `rnpm link` on module A, thinking that running `rnpm link` on the actual app would propagate the libraries to the actual app, but it doesn't seem to work (module A's xcodeproj does get added on the app, but it's dependency libraries still seem to be missing)

@Kureev If you don't mind, can you write out a quick

[2016-06-10 11:48] Kureev commented on #173
It literally one-to-one as `npm scripts`: https://github.com/rnpm/rnpm#commands.

Can you provide some real-world example? I'll try to sketch it.

[2016-06-10 14:06] Secretmapper commented on #173
I'm working on extracting a part of my recent project to a module, which is an epub reader for react-native.

To render the epub templates, I'm making use of https://github.com/alinz/react-native-webview-bridge and https://www.npmjs.com/package/react-native-zip-archive. I'm unsure of what to put in my module's `postlink` to add their dependencies.

Thanks again!

[2016-06-10 14:45] Kureev commented on #173
@grabbou do you have any snippet to add `libz` to the project?

[2016-06-10 15:18] grabbou commented on #173
We are going to support it thanks to @appden PR if I am not wrong?

[2016-06-10 15:19] Kureev commented on #173
Yeah, true. But it's not merged yet, right?

[2016-06-10 16:49] PC123PC commented on #173
Hi Arian @Secretmapper, please get in touch with me with regards to the Salescamp project - I don't understand why you've just stopped replying to messages for 2 months even after you've received payment and signed a contract? http://arianv.com

[2016-06-10 17:30] grabbou commented on #173
@PC123PC I've removed your comment, please sort out any business inconveniences with @Secretmapper outside this repo, thank you :)

[2016-06-10 18:51] appden commented on #173
@Secretmapper @Kureev until my PR is merged and released, you can accomplish automatically linking `libz` through a postlink script. [Here](https://github.com/realm/realm-js/blob/master/scripts/rnpm-postlink.js) is the one I created for Realm.

[2016-06-10 19:11] grabbou commented on #173
I am planning to review it tomorrow, merge and release, so if you don't mind waiting an extra day, thats awesome!

[2016-06-10 21:43] Kureev commented on #173
Thanks for sharing your script, @appden! I think that supposed to solve the initial problem 'till we merge your PR in 😉

[2016-06-11 12:56] #122 closed

[2016-06-14 02:58] jojonarte opened #174 "ACCES: permission denied"
I'm having this weird issue on RNPM linking a component  Has anyone encountered this?

rnpm link react-native-vector-icons
/usr/local/lib/node_modules/rnpm/node_modules/configstore/index.js:54
				throw err;
				^

Error: EACCES: permission denied, open '/Users/dna/.config/configstore/update-notifier-rnpm.json'
You don't have access to this file.

    at Error (native)
    at Object.fs.openSync (f

[2016-06-14 11:56] Kureev commented on #174
Really weird. Looks like something is wrong with read permissions of your `'/Users/dna/.config/configstore/update-notifier-rnpm.json'`. Check if it's readable

[2016-06-14 15:25] grabbou commented on #174
or just delete it & reinstall? ;) Anyway, please open an issue in update-notifier, might be a new bug.

[2016-06-15 04:59] jojonarte commented on #174
I will check once i'm back on the office , I hope this is traceable.

[2016-06-17 11:03] mhagmajer opened #175 "Incorrect linking with this settings.gradle"
Linking [Realm](https://www.npmjs.com/package/realm) made no changes to my `settings.gradle` when running `rnpm link realm`.

[code]

It worked alright on a fresh project.

Please advise if this is an issue with Realm itself.

[2016-06-17 17:00] npomfret commented on #161
I've got the same issue - how did you fix it?

[2016-06-17 17:03] npomfret commented on #168
I've got the same error with 1.9.0.   Assuming it's going through my package.json in order its failing to link `react-native-device-info`.

 Whats the fix please?

[2016-06-17 17:04] cyphire commented on #161
My problem was related to my environment.  Non issue.  Make sure you
install realm in an admin console, if it fails just install again until
dependencies resolved.

If I remember the rnpm had issue on 5th link but realm worked perfectly.
Tell me if it works...
On Jun 17, 2016 12:00 PM, "Nick Pomfret" <notifications@github.com> wrote:

[2016-06-17 18:37] grabbou commented on #168
We can't seem to find a compromise with the library author on how the 96 PR (linked above) should be tested. We are investigating forking it temporarily and provide some additional support. If we don't come up with a solution by EOW, we will have to do it I believe.

[2016-06-17 18:38] grabbou commented on #175
I think it's because of `include ':app', ':react-native-code-push'` but I am not really sure (it's an issue on our end I believe). @Kureev ?

[2016-06-21 04:41] jojonarte commented on #174
Still the same occured :(

[2016-06-21 22:17] BilalBudhani opened #176 "Platform specific linking."
Sometimes I'm in a situation where I just want to `rnpm` to do the linking part on `android` or may be `iOS` but not on both. Do you guys think we should consider adding a parameter to the command line which should only execute the process on specific platform? something like:

[code]
[code]
Would love to know what you guys think on this.

[2016-06-21 23:31] ajwhite opened #177 "rnpm init - initialize a new third party project"
Creating third party modules and components is a very hands on process from my experience.

It would be really nice to simply run `rnpm init ProjectName` and have the boilerplate scaffolded out.

I would imagine a structure like so

[code]

[2016-06-22 08:48] alexHlebnikov opened #178 "It seems something went wrong while linking. Error: Expected ";" but " " found."
Hi!

I'm using Firebase Analytics in my Rect Native iOS app.
Today I'm updated RN from 0.25.1 to 0.28 and now I can't build my app with errors about Firebase in debugger.

So I'm tried to reinstall RN analytics component (https://github.com/evollu/react-native-firebase-analytics) and link it again. But when I'm doing ```rnpm link react-native-firebase-analytics``` I'm getting this error: ```It see

[2016-06-22 11:15] Kureev commented on #178
Seems we need to follow up on this, @grabbou

[2016-06-22 11:20] Kureev commented on #177
I usually use `react-native init` to start init a third-party module. But I agree, there should be something better for this purpose.

But you can create your own scaffolding tool and expose it as a plugin to rnpm. So, people can use it like this:

[code]

cc @grabbou @mkonicek

[2016-06-22 11:23] Kureev commented on #176
Hi @BilalBudhani! Can you share some ideas when you'd like to use it? I mean some real use cases.

[2016-06-22 11:33] alexHlebnikov commented on #178
I've fixed my issue!

I used changes from this PR: https://github.com/alunny/node-xcode/pull/96 and them helped.

[2016-06-22 11:37] Kureev commented on #178
Awesome, glad you've figured out!

[2016-06-22 11:37] #178 closed

[2016-06-22 13:15] ajwhite commented on #177
Oh great point

[2016-06-22 13:35] Kureev commented on #177
I think we'll eventually tackle it, but we have no vision yet. Feel free to propose an idea if you have something in mind 😉 Closing for now.

[2016-06-22 13:35] #177 closed

[2016-06-22 13:37] Kureev commented on #174
Maybe `$ chmod +r /Users/dna/.config/configstore/update-notifier-rnpm.json` will do the trick?

[2016-06-22 15:21] ajwhite commented on #177
As `rnpm` is very plugin based, I think working on a third party plugin is the best way to introduce a new idea. Will start there 😄

[2016-06-24 08:12] Kureev commented on #177
Let me know if you need any kind of assistance!

[2016-06-24 10:20] aksonov opened #180 "[iOS] Duplicate symbols issue"
When I use several native iOS modules (react-native-tcp & react-native-xmpp) that use the same obj-c library (CGDAsyncSocket), i'm getting this error. How to avoid that?

[2016-06-29 12:58] eldhoseelias opened #181 "Add new key values / modify existing key value pair in info.plist file of iOS apps by using swift."
i create a iOS app, and i integrated 3 social login like Facebook,linkedin,google plus into my iOS app.
At the time of configuration i added some key and values in info.plist file of my iOS app.
Now i want to add that key value pair in a programmatic way ...
is it possible..?

[2016-06-30 09:23] Kureev commented on #181
Yes, you can create a postlink hook, as it described in the README.
In this postlink hook you can use PLISTBUDDY to have an easy access to your info.plist file!

[2016-06-30 09:23] #181 closed

[2016-07-01 11:33] eldhoseelias commented on #181
it is possible to edit info.plist file after deploying an app in app store

[2016-07-01 23:20] #173 closed

[2016-07-06 10:40] zkenes commented on #180
I've met the same issue, but in my case it was `react-native-maps`. Did you solve your trouble?

[2016-07-06 10:41] aksonov commented on #180
@zkenes no. it is pity that issues are not monitored here..

[2016-07-06 10:43] zkenes commented on #180
@aksonov Have you tried to add manually?

[2016-07-06 10:45] aksonov commented on #180
I've forked and then dep from one of native iOS module. It solved issue but it definitely looks like a hack (and using 'forked' module)

[2016-07-06 12:16] grabbou commented on #180
Well, we can't do anything about that since as far as I am aware, the library (Cocoa Async Socket) is added manually to the dependency `xcodeproj` and `rnpm` has nothing to do here. The developer or maintainer of these projects should be notified of the issue and ideally asked to leave adding that library up to users.

[2016-07-06 12:17] #180 closed

[2016-07-06 12:20] aksonov commented on #180
@grabbou I'm maintainer of react-native-xmpp and it looks strange to require users to install Cocoa Async Socket manually - they are using rnpm and expect not to add manually anything, especially to third-party modules, right? Is there any workaround? Or CocoaPods is only solution (i thought rnpm is better alternative to CocoaPods designed for React Native)

[2016-07-06 14:50] listepo commented on #29
What's the status of this one?

[2016-07-06 15:48] migueloller opened #182 "Scoped Modules"
Currently `rnpm` doesn't work with [scoped modules](https://docs.npmjs.com/misc/scope).

Scoped modules are usuall organized the following way in the `node_modules` folder:

`package.json`:
[code]
[code]

`rnpm` checks for a `package.json` inside the `@somescope` folder, which causes the following error:
[code]

[2016-07-06 17:30] skellock opened #183 "Here or in React Native?"
Greetings!

Which repo would you like us to file reports & requests in?  Here?  or React Native?

Thanks.  :)

[2016-07-07 08:33] ghamaide commented on #163
I have the same issue, how did you solve it ?

[2016-07-07 08:42] Kureev commented on #182
Thanks for your issue. I'll take a look.

[2016-07-07 08:52] Kureev commented on #183
I think it'll be better if you will file reports and PRs to React Native and cc me or Mike :)

[2016-07-07 08:52] #183 closed

[2016-07-07 14:27] Kureev commented on #182
Further discussion will be available here: https://github.com/facebook/react-native/issues/8623

[2016-07-07 14:27] #182 closed

[2016-07-07 15:46] webyonet opened #184 "react native v0.29.0 not supported"
react native v0.29.0 change the application template for android.
please support to this version

[2016-07-07 17:34] SudoPlz commented on #130
Same error!

[2016-07-07 20:17] grabbou commented on #183
Yeah, we will be cherry-picking stuff later manually :)

[2016-07-07 20:18] grabbou commented on #184
Related issue: https://github.com/facebook/react-native/issues/8603#issuecomment-231193802

[2016-07-08 08:05] #184 closed

[2016-07-08 08:11] Kureev commented on #130
Sounds like you're copying .xcodeproj without appropriate folder near it (`Test.xcodeproj` should be copied with `Test` folder near it, otherwise link to the plist file is broken).

I feel like we have to re-open it again, since the issue wasn't fixed yet.

[2016-07-08 08:18] Kureev commented on #170
I think this one can be closed.

[2016-07-08 08:18] #170 closed

[2016-07-08 08:20] Kureev commented on #169
@Giszmo can you be so kind to describe a desired algorithm. I'll try to hack it on the weekend then. Otherwise, I propose to close this one.

[2016-07-08 08:21] Kureev commented on #168
What's the status of this issue? Can we find a next step for it?

[2016-07-08 08:22] Kureev commented on #159
I think we have the same issue in the RN repo (about private packages) - https://github.com/facebook/react-native/issues/8623. So I'm going to close this one to keep only one source of truth.

[2016-07-08 08:22] #159 closed

[2016-07-08 08:23] Kureev commented on #156
Can you pick it up, Mike?

[2016-07-08 08:25] Kureev commented on #141
Can we determine a next actionable step, @grabbou ? I can pick it up

[2016-07-08 08:28] Kureev commented on #99
Seems this one is outdated and not actionable. I'll re-open it if we get a new feedback from the TS

[2016-07-08 08:28] #99 closed

[2016-07-08 08:29] Kureev commented on #82
Can you give us some update on it, @grabbou?

[2016-07-08 09:03] grabbou commented on #141
I am afraid we can't, since you disagree with me and it's a tie. I'd like someone else to chime in and provide more context if possible.

[2016-07-08 09:04] grabbou commented on #156
Yeah, this was on hold due to lack of changelog, but since it's resolved, it's time to do it.

[2016-07-08 09:34] Kureev commented on #141
I think both approaches that we described does make sense. All in all, implementation details shouldn't delay a feature. So, I'm fine with asking twice for the same parameter for different platform.

That said, we can move forward with your approach:

- Move `params` to `android.params`
- Create `ios.params`
- Every time when we ask for param use prefix in the message. Example:

  - `[iOS] Input y

[2016-07-08 14:44] SudoPlz commented on #130
@Kureev would you be kind enough to elaborate more on this? I haven't copied my main react native project anywhere. I might have copied sub projects but then again I thought INFOPLIST_FILE only refers to our main project right?

[2016-07-08 15:09] Kureev commented on #130
I'd like to help, but I need to see a project to say something specific. Is it an OSS?

[2016-07-08 15:33] aylarov opened #185 "Not compatible with RN 29 (Android)"
React Native 29 (Android) uses MainApplication.java http://www.reactnative.com/react-native-v0-29-rc-released/ , rnpm link doesn't link module properly

[2016-07-08 17:39] SudoPlz commented on #130
I'm just trying to include the https://github.com/SudoPlz/react-native-bugsnag to a react-native xcode project, using Carthage. After doing that `rnpm link assets` no longer works. I get this error.

[2016-07-08 18:00] SudoPlz commented on #130
Ok error was gone with a `git clean -fd`. Apparently I had many old sh1t on my Xcode project because of Cocoapods (which I have now removed).

[2016-07-08 19:41] SudoPlz commented on #130
Ok UPDATE:
Deleting my `Carthage/Checkouts/` directory from within the iOS project makes this error go away..! It has definitely something to do with Carthage and/or the way the installed project is structured (in my case I'm using the carthage project found in `github "bugsnag/bugsnag-cocoa"`.

I hope this helps someone.

[2016-07-08 21:33] Kureev commented on #130
I think you can deliver even better DX to your users:
1. Use [manual bugsnag installation guide](http://docs.bugsnag.com/platforms/ios-objc/#manual-installation) to build their SDK (without any third-party tool like cocoapods or carthage) on your machine.
2. Once you have a working SDK on your machine, you can use it as a dependency of your module. We have no release notes for this feature, but I

[2016-07-08 21:35] SudoPlz commented on #130
Sounds good @Kureev, would you mind joining us in https://gitter.im/SudoPlz/react-native-bugsnag, it seems you've got lots of good suggestions to offer. Its an open source project if you can make a pull request I'll be more than happy to merge it..!

[2016-07-08 21:37] Kureev commented on #185
see https://github.com/facebook/react-native/pull/8612.
Fix is going to be released with a next RN version.

[2016-07-08 21:37] #185 closed

[2016-07-08 21:42] Kureev commented on #130
I'll try to take a look when I have a free time.

I know, it can be really complicated to get it done right, especially if you never did it before.

I'm also about to close this issue because it loses a point.

[2016-07-08 21:42] #130 closed

[2016-07-10 11:10] grabbou commented on #141
Yeah, I think that would work :) Do you think we should PR against this repo or against the react-native one?

[2016-07-11 15:39] Kureev commented on #141
I think we should merge https://github.com/facebook/react-native/pull/7899 in a first place and then freeze this repo.

[2016-07-11 21:36] tuneZola opened #186 "RN .29 Java MainApplication"
For RN .29, All the Java dependencies are being moved to the MainApplication file and not the MainActivity file. I am still getting items being linked to the Activity file, so I assume that this change has not been made yet?

[2016-07-11 21:40] grabbou commented on #186
Will be soon cherry-picked into .29 and released as a 0.29.1 inside react-native. We no longer plan to release rnpm itself (unless our merge PR gets stuck)

CC: @Kureev

[2016-07-11 21:40] #186 closed

[2016-07-12 08:49] sankhadeeproy007 opened #187 "Custom fonts"
Hi, great library. Very useful. I have a doubt. I'm working on [NativeBase](https://github.com/GeekyAnts/NativeBase), and I'd like to have fonts as a variable. I did go through the readme and there was a reference to fonts, however I'm not sure how the copying would be done. Would it download the `.ttf` files automatically and copy them over or do we have to manually add the `.ttf` files in our pr

[2016-07-12 09:30] Kureev commented on #187
You can specify an [assets folder](https://github.com/rnpm/rnpm#advanced-usage) for your static content (like fonts etc). It'll automatically copy(Android)/reference(iOS) them to your project. Is it what you were looking for?

[2016-07-12 09:43] sankhadeeproy007 commented on #187
Okay I get it now. Where should the assets folder ideally be located?

[2016-07-12 10:16] sankhadeeproy007 commented on #187
Never mind, I figured it out. Thanks!

[2016-07-12 12:50] sankhadeeproy007 commented on #187
@Kureev I tried with the following structure. The Fonts folder in my package root and the package.json as given in the screenshot. It didn't copy the font files and neither updated info.plist. What am I doing wrong? ![screen shot 2016-07-12 at 6 18 13 pm](https://cloud.githubusercontent.com/assets/10998047/16767431/1051f1f6-485d-11e6-839a-aa6d8b51b3f1.png)

[2016-07-12 15:57] Kureev commented on #187
What kind of fonts do you have? .ttf?

[2016-07-12 15:58] Kureev commented on #187
see https://github.com/rnpm/rnpm-plugin-link/blob/f20f56e4894e4a716147766276ab4328482d9503/src/groupFilesByType.js

[2016-07-12 15:59] sankhadeeproy007 commented on #187
I have `.ttf` and a few `.ttc`. But even the `.tff` files aren't getting copied.

[2016-07-13 07:06] sankhadeeproy007 commented on #187
I did work fine on a new project after  a fresh init. Still couldn't figure out what went wrong in the previous project though.

[2016-07-13 07:06] #187 closed

[2016-07-13 09:32] vikeri opened #188 "Feature request: Ability to link PushNotificationIOS"
rnpm is a great tool and it saves me work every time I upgrade RN. Unfortunately PushNotificationIOS is not linkeable as I understand it? Would be great if these steps could be done by rnpm as well: https://facebook.github.io/react-native/docs/linking-libraries-ios.html#manual-linking

I tried doing it myself with [node-xcode](https://github.com/alunny/node-xcode) but the complete lack of document

[2016-07-13 17:31] Kureev commented on #188
This part is covered by rnpm.

rnpm doesn't work with permissions (yet). But PR or solid implementation plan is welcomed.

this part is not planned in rnpm. You need to write a code by yourself 😃

[2016-07-13 20:42] vikeri commented on #188
Thanks for a fast response! Yes, I was only hoping to rely on rnpm for the linking part. So how do I link PushNotificationIOS with rnpm? If I understand correctly rnpm looks in `package.json`? And PushNotificationIOS does not reside there.

[2016-07-14 20:15] jbrodriguez opened #189 "Not working on 0.29.1"
I'm not sure why I'm getting this error.

I have installed v1.9.0 and RN 0.29.1

If I run react-native link react-native-fabric, I get

[code]

If I run rnpm link, it says everything's ok, but MainApplication.java is not modified

The same error with react-native-device-info.

It populates settings.gradle and build.gradle, it's just MainApplication.java that's missing.

[2016-07-14 21:21] Kureev commented on #189
see
https://github.com/rnpm/rnpm/issues/184
https://github.com/rnpm/rnpm/issues/185
https://github.com/rnpm/rnpm/issues/186

[2016-07-14 21:26] jbrodriguez commented on #189
@Kureev, 0.29.1 was released and this is supposed to be fixed there.

https://github.com/facebook/react-native/releases/tag/v0.29.1

I have RN 0.29.1, so it should work, but it's not happening for me.

Can you please reopen the issue and check it ?

[2016-07-14 21:30] Kureev commented on #189
Have you used `react-native link`? This repo has been merged into react-native and it literally lives it's last days. I don't think we release any more releases on rnpm (but as I said, it's part of the react-native now, so please, check it out!).

[2016-07-14 21:32] jbrodriguez commented on #189
yes, that's exactly what I did

[code]

none of them are updating MainApplication.java

I'll try to debug further, but I think there may be a legit issue here.

[2016-07-15 00:13] a9udn9u commented on #176
@Kureev
I'm in need of this feature too. I'm using the 'react-native-blur' plugin which doesn't work very well with Android, and I don't really need it in Android anyway because the frosted glass effect is an iOS thing. Currently there is no way to only link this plugin on one platform so I have to manually revert some changes made by rnpm.

[2016-07-15 07:16] hanswilw commented on #189
@jbrodriguez, I am having the same problem - though I believe that line 30 and 35 in [reigsterNativeModule.js](https://github.com/facebook/react-native/blob/214a41d62af6c752bf34e40bc0b046790a009e3d/local-cli/rnpm/link/src/android/registerNativeModule.js) wasnt adjusted to the change. When adjusting these the MainApplication.java is patched, but the import line fails. As of now I am just manually a

[2016-07-15 08:21] grabbou commented on #176
@Kureev for example one might have added XYZ to iOS through CocoaPods and wants to link android part only w/o having duplicated XYZ on iOS added the standard way.

[2016-07-15 10:28] Kureev commented on #189
ref: https://github.com/facebook/react-native/pull/8612

[2016-07-15 10:53] Kureev commented on #189
hotfix: https://github.com/facebook/react-native/pull/8807

[2016-07-16 01:41] jitcoder opened #190 "[Feature Request] --save to add dependency to package.json"
it'd be awesome to be able to do
`
rnpm install react-native-linear-gradient --save
`

and have the package added to package.json or a rnpackage.json or something.

[2016-07-17 19:59] grabbou commented on #190
Nice idea, @Kureev do you think there's anything against passing all flags passed to `rnpm install` directly to `npm install`? @jitcoder would you be up for sending a pull request?

[2016-07-18 05:23] zicjin opened #191 "SyntaxError: Expected "/* Begin ", "/* End ", "\"" or [A-Za-z0-9_.] but "<" found."
react-native link react-native-vector-icons
rnpm-link info Linking react-native-vector-icons android dependency
rnpm-link info Android module react-native-vector-icons has been successfully linked
rnpm-link ERR! It seems something went wrong while linking. Error: Expected "/* Begin ", "/* End ", "\"" or [A-Za-z0-9_.] but "<" found.
Please file an issue here: https://github.com/rnpm/rnpm/issues

C:

[2016-07-19 12:31] grabbou commented on #191
@Kureev I am thinking we should print out an information that users should just open project with `xcode` and try again /this is something that happens a lot/

[2016-07-19 19:05] jitcoder commented on #190
I'd love to take a crack at it.

[2016-07-19 19:06] jitcoder commented on #190
Do we want to use package.json or a rnpackage.json

[2016-07-20 03:35] zicjin commented on #191
Indeed, it is xcodeproj issus caused by git merge

[2016-07-20 03:35] #191 closed

[2016-07-20 09:55] Kureev commented on #190
`package.json` would be nice. We just have to pass `--save` to `npm install` command

[2016-07-21 02:26] rc452860 commented on #130
I‘m also encounter this problem:
rnpm-link info Linking react-native-admob android dependency
rnpm-link info Android module react-native-admob has been successfully linked
rnpm-link info Linking react-native-admob ios dependency
rnpm-link info iOS module react-native-admob has been successfully linked
rnpm-link info Android module react-native-material-kit is already linked
rnpm-link info iOS modu

[2016-07-21 07:01] vikeri commented on #188
@Kureev: Any hints on how I can use the link command with PushNotificationIOS?

[2016-07-21 07:47] SudoPlz commented on #130
@rc452860 If you are using `Carthage` make sure you delete the `Checkout` folder and then `rnpm link` will work again.

[2016-07-24 03:52] aksharpatel47 commented on #189
Faced this problem on 0.30 too when linking realm.

[2016-07-24 10:07] Kureev commented on #189
Please, use "react-native link" instead.

[2016-07-24 10:07] #189 closed

[2016-07-25 14:30] 7mllm7 commented on #82
+1, very important

[2016-07-26 09:30] hhashmi commented on #161
Tried to install realm on windows by following
https://realm.io/docs/react-native/latest/#getting-started

rnpm link realm (tried it 2 - 3 tiems)
gives following output

rnpm-link info Android module realm is already linked
rnpm-link info iOS module realm is already linked
rnpm-link ERR! It seems something went wrong while linking. Error: spawn UNKNOWN

Please file an issue here: https://github.co

[2016-07-26 09:31] hhashmi opened #192 "It seems something went wrong while linking. Error: spawn UNKNOWN"
Tried to install realm on windows by following
https://realm.io/docs/react-native/latest/#getting-started

rnpm link realm (tried it 2 - 3 tiems)
gives following output

rnpm --version : 1.9.0
node --version : 4.4.7
react native : 0.30.0

Please guide me how you guys resolved this issue. (Ref: closed issue: 161)

[2016-07-26 09:33] hhashmi commented on #192
Same thing is happening when I try it with couchbase lite.
Following
https://github.com/couchbaselabs/react-native-couchbase-lite

[2016-07-26 16:31] dwilt opened #193 "react-native-lock: It seems something went wrong while linking"
Getting this:

[code]
 while trying to run
[code]

[2016-07-26 17:19] gohanman opened #194 "Linking fails after renaming project"
I renamed a project by changing `name` in `package.json` and running `react-native upgrade`. This generated a new set of subdirectories under `ios`.

Now when I run `rnpm link` I get this. It does not seem to matter which particular package I'm trying to link.
[code]

`AwesomeProject` was the previous name of the project. I imagine there's a cached information problem somewhere but grepping throug

[2016-07-26 18:00] hhashmi commented on #192
Got it resolved by
Close Android Studio and simulator
Remove APKs from android\app\build\outputs\apk

Start simulator and every thing is ok.

this issue may appear again, follow same steps and happy coding

[2016-07-26 18:00] #192 closed

[2016-07-26 18:05] joshg111 opened #195 "Gradle files unchanged after linking"
After linking with: "rnpm link " I see added to MainActivity.java, but I don't see the necessary changed to build.gradle or settings.gradle. My apps package.json file is below. The output of the link command is successful. Also, this might be a related issue, but when i run "rnpm install " I get the following output:
`rnpm-link info Module react-native-fbsdk has been successfully installed & linke

[2016-07-26 18:08] joshg111 commented on #195
I'm trying to link react-native-fbsdk. I can do it manually, but I seem to continuously have this problem even with other packages.

[2016-07-27 03:21] stantoncbradley commented on #193
I'm having issues with react-native-lock as well. didn't get this error, but when i try logging in through facebook app my app just hangs.  maybe unrelated, maybe not?

[2016-07-27 17:11] Fanda36 commented on #161
I solved your problem @hhashmi with [https://github.com/realm/realm-js/issues/477](this) issue. (manual adding plugin and recompiling project) Now work it me fine.

[2016-07-28 07:26] mlumbroso opened #196 "[iOS] Unlink error : TypeError: Cannot read property 'find' of undefined"
Here is full stack trace :

`sudo rnpm unlink react-native-branch
rnpm-link info Unlinking react-native-branch android dependency
rnpm-link info Android module react-native-branch has been successfully unlinked
rnpm-link info Unlinking react-native-branch ios dependency
/usr/local/lib/node_modules/rnpm/node_modules/rnpm-plugin-link/src/ios/removeFromProjectReferences.js:14
  const projectRef = fir

[2016-07-28 07:55] Kureev commented on #196
cc @grabbou

[2016-07-28 07:56] Kureev commented on #193
cc @grabbou

[2016-07-28 08:01] grabbou commented on #193
Hey @dwilt, we will be looking into this issue right after we merge our `rnpm` into react-native which shouldn't take more than a day now.

[2016-07-28 08:02] grabbou commented on #196
Hey @mlumbroso, we will be looking into this issue right after we merge our `rnpm` into react-native which shouldn't take more than a day now.

[2016-07-28 08:02] mlumbroso commented on #196
Amazing, thanks for your reactivity :+1:

[2016-07-28 08:28] Kureev commented on #194
Hey @gohanman!

I think it's not about cached information, but about first xcodeproj that rnpm finds in your project folder. Can it be that you have `ios/AwesomeProject.xcodeproj` and `ios/<NewProjectName>.xcodeproj`?

[2016-07-28 08:32] Kureev commented on #192
Nice @hhashmi!

I'm sorry for not responding in time. Glad to hear you found a way to fix your issue! Sounds like a good improvement to documentation, I think some other people may encounter it as well. Do you want to add a README block to describe the error and a way you solved it?

[2016-07-28 08:53] Kureev commented on #195
That's quite strange. Just tried to generate a blank project using react@0.26.3 and it worked. Did you apply any changes to your gradle files?

[2016-07-28 10:36] gohanman commented on #194
That indeed seems to do it. Thanks!

[2016-07-28 10:36] #194 closed

[2016-07-28 18:30] joshg111 commented on #195
Yes, there are many other changes to the gradle file. Actually my project was originally a non react native android project, then it evolved into react native. During the evolution there were a number of issue I ran into. Although it has been working fine for a while now, I'm thinking of remaking the project from scratch. Perhaps this cleanup will get rid of this strange problem. Will update the t

[2016-07-28 20:33] Kureev commented on #195
it's sensitive to indentation in gradle files, maybe you changed it for key-lines (we use find-replace approach)

[2016-07-29 00:35] dwilt commented on #193
@grabbou thanks for the update. that would be fantastic as a project I'm working on requires this!

[2016-07-29 01:56] Kureev commented on #193
In the meanwhile: could you check if `/Users/dwilt/Projects/GJS/gjs-app/ios/AirshipKit/AirshipKit.xcodeproj` exists? If not, use rnpm config to point to the correct xcodeproj

[2016-07-29 14:23] dwilt commented on #193
@Kureev It does exist. What doesn't is the `.pbxproj` inside of it:

<img width="268" alt="screenshot 2016-07-29 07 22 06" src="https://cloud.githubusercontent.com/assets/1065539/17251349/38ee6ef2-555d-11e6-9fb3-66b87566c33a.png">

This is after only running `npm install --save react-native-lock`

[2016-07-29 14:45] Kureev commented on #193
It looks a bit odd. Seems it's not a part of the module. Probably, we should file an issue in `react-native-lock` repo.

@grabbou?

[2016-07-29 14:45] dwilt commented on #193
Already done: https://github.com/auth0/react-native-lock/issues/75

[2016-07-29 15:50] dwilt commented on #193
Verified this works with the a blank React Native project scaffold `react-native init TestAuth`. The issue was an issue with UrbanAirship (the error referenced AirshipKit) and nothing to do with `react-native-lock`.

[2016-07-29 15:50] #193 closed

[2016-07-29 17:03] saulshanabrook opened #197 "React Native not picking up package.json overrides"
For some reason, React Native doesn't seem to be picking up the `browser` or `react-native` import overrides in a package's `package.json` that were added by `rnpm`.

For example, I have installed [`unibabel`](https://github.com/coolaj86/unibabel-js), but when I do `require("unibabel")`, it tries to require `unibabel/node.js` instead of `unibabel/index.js`.

`./node_modules/unibabel/package.json`

[2016-07-29 17:45] saulshanabrook commented on #197
The aliases work with my base `package.json` (the overrides), but not on those in the packages in`node_modules`.

[2016-07-29 18:32] saulshanabrook commented on #197
I fixed this manually with replacing that line in my postinstall:

[code]

[2016-07-29 18:32] #197 closed

[2016-07-31 20:32] joshg111 commented on #195
After creating a fresh react native project all the android files seem to be updated accordingly when running rnpm link with the exception of the MainApplication.java file. Rnpm should be adding the package names in the array defined in getPackages overriden function, but I end up having to do it manually with each package I install.

Also, I find that rnpm install does not install the package or

[2016-07-31 20:50] Kureev commented on #195
Thanks for your feedback, @joshg111!

We fixed MainApplication patch issue in react-native (rnpm is going to be deprecated soon as we merged it into react-native core). About fbsdk: it's a very tricky module. I think it'll be great if you can join our discussion here https://github.com/facebook/react-native/issues/8623.